@using Kore.Plugins.Widgets.FlexSlider
@using Kore.Web.ContentManagement
@using Kore.Plugins.Widgets.FlexSlider.ContentBlocks

@model FlexSliderBlock

<div id="block-content">
    @using (var tabs = Html.KoreUI().Begin(new Kore.Web.Mvc.KoreUI.Tabs()))
    {
        tabs.Tab(T(LocalizableStrings.FlexSliderBlock.EditorTabs.General), "tab-general");
        tabs.Tab(T(LocalizableStrings.FlexSliderBlock.EditorTabs.Animation), "tab-animation");
        tabs.Tab(T(LocalizableStrings.FlexSliderBlock.EditorTabs.Navigation), "tab-navigation");
        tabs.Tab(T(LocalizableStrings.FlexSliderBlock.EditorTabs.Events), "tab-events");

        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.MediaFolder, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control", data_bind = "value: blockModel.mediaFolder" })
                            <span class="input-group-addon">
                                <a data-toggle="modal" href="javascript:void(0);" data-target="#myModal">
                                    <i class="kore-icon kore-icon-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ControlId, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ControlId, new { @class = "form-control", data_bind = "value: blockModel.controlId" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Namespace, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Namespace, new { @class = "form-control", data_bind = "value: blockModel.namespace" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Selector, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Selector, new { @class = "form-control", data_bind = "value: blockModel.selector" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Randomize", new { data_bind = "checked: blockModel.randomize" }) @T(LocalizableStrings.FlexSliderBlock.Randomize)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("PauseOnAction", new { data_bind = "checked: blockModel.pauseOnAction" }) @T(LocalizableStrings.FlexSliderBlock.PauseOnAction)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("PauseOnHover", new { data_bind = "checked: blockModel.pauseOnHover" }) @T(LocalizableStrings.FlexSliderBlock.PauseOnHover)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Touch", new { data_bind = "checked: blockModel.touch" }) @T(LocalizableStrings.FlexSliderBlock.Touch)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Video", new { data_bind = "checked: blockModel.video" }) @T(LocalizableStrings.FlexSliderBlock.Video)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Slideshow", new { data_bind = "checked: blockModel.slideshow" }) @T(LocalizableStrings.FlexSliderBlock.Slideshow)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SlideshowSpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.SlideshowSpeed, new { @class = "form-control", data_bind = "value: blockModel.slideshowSpeed" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.StartAt, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.StartAt, new { @class = "form-control", data_bind = "value: blockModel.startAt" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.InitDelay, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.InitDelay, new { @class = "form-control", data_bind = "value: blockModel.initDelay" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Sync, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Sync, new { @class = "form-control", data_bind = "value: blockModel.sync" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AsNavFor, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.AsNavFor, new { @class = "form-control", data_bind = "value: blockModel.asNavFor" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemWidth, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemWidth, new { @class = "form-control", data_bind = "value: blockModel.itemWidth" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemMargin, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemMargin, new { @class = "form-control", data_bind = "value: blockModel.itemMargin" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MinItems, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.MinItems, new { @class = "form-control", data_bind = "value: blockModel.minItems" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaxItems, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.MaxItems, new { @class = "form-control", data_bind = "value: blockModel.maxItems" })
                    </div>
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Animation, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.EnumDropDownListFor(m => m.Animation, new { @class = "form-control", data_bind = "value: blockModel.animation" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Easing, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.EnumDropDownListFor(m => m.Easing, new { @class = "form-control", data_bind = "value: blockModel.easing" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AnimationSpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.AnimationSpeed, new { @class = "form-control", data_bind = "value: blockModel.animationSpeed" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Move, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Move, new { @class = "form-control", data_bind = "value: blockModel.move" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Direction, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.EnumDropDownListFor(m => m.Direction, new { @class = "form-control", data_bind = "value: blockModel.direction" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Reverse", new { data_bind = "checked: blockModel.reverse" }) @T(LocalizableStrings.FlexSliderBlock.Reverse)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("AnimationLoop", new { data_bind = "checked: blockModel.animationLoop" }) @T(LocalizableStrings.FlexSliderBlock.AnimationLoop)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("SmoothHeight", new { data_bind = "checked: blockModel.smoothHeight" }) @T(LocalizableStrings.FlexSliderBlock.SmoothHeight)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("UseCSS", new { data_bind = "checked: blockModel.useCSS" }) @T(LocalizableStrings.FlexSliderBlock.UseCSS)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="well">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("DirectionNav", new { data_bind = "checked: blockModel.directionNav" }) @T(LocalizableStrings.FlexSliderBlock.DirectionNav)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PrevText, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.PrevText, new { @class = "form-control", data_bind = "value: blockModel.prevText" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NextText, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.NextText, new { @class = "form-control", data_bind = "value: blockModel.nextText" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ControlNav, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.EnumDropDownListFor(m => m.ControlNav, new { @class = "form-control", data_bind = "value: blockModel.controlNav" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ControlsContainer, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ControlsContainer, new { @class = "form-control", data_bind = "value: blockModel.controlsContainer" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ManualControls, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ManualControls, new { @class = "form-control", data_bind = "value: blockModel.manualControls" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="well">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("PausePlay", new { data_bind = "checked: blockModel.pausePlay" }) @T(LocalizableStrings.FlexSliderBlock.PausePlay)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PauseText, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.PauseText, new { @class = "form-control", data_bind = "value: blockModel.pauseText" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PlayText, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            @Html.TextBoxFor(m => m.PlayText, new { @class = "form-control", data_bind = "value: blockModel.playText" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Keyboard", new { data_bind = "checked: blockModel.keyboard" }) @T(LocalizableStrings.FlexSliderBlock.Keyboard)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("MultipleKeyboard", new { data_bind = "checked: blockModel.multipleKeyboard" }) @T(LocalizableStrings.FlexSliderBlock.MultipleKeyboard)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Mousewheel", new { data_bind = "checked: blockModel.mousewheel" }) @T(LocalizableStrings.FlexSliderBlock.Mousewheel)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OnStart, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnStart, new { @class = "form-control", data_bind = "value: blockModel.onStart" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OnEnd, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnEnd, new { @class = "form-control", data_bind = "value: blockModel.onEnd" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OnBefore, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnBefore, new { @class = "form-control", data_bind = "value: blockModel.onBefore" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.OnAfter, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnAfter, new { @class = "form-control", data_bind = "value: blockModel.onAfter" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OnAdded, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnAdded, new { @class = "form-control", data_bind = "value: blockModel.onAdded" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OnRemoved, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.OnRemoved, new { @class = "form-control", data_bind = "value: blockModel.onRemoved" })
                    </div>
                </div>
            </div>
        }
    }

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="dismissModal();" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Image</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/filemanager/dialog.php?type=1&fldr=&relative_url=1&field_id=MediaFolder&ignore_last_position=1" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modalDismissed = false;

    function dismissModal() {
        modalDismissed = true;
        $('#myModal').modal('hide');
    };

    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            if (!modalDismissed) {
                var url = $('#MediaFolder').val();
                var idx = url.indexOf("Uploads");
                url = url.substring(idx);
                blockModel.mediaFolder(url);
            }
            modalDismissed = false;
        })
    });

    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function (blockModel) {
            blockModel.mediaFolder = ko.observable("");
            blockModel.controlId = ko.observable("slider");
            blockModel.namespace = ko.observable(null);
            blockModel.selector = ko.observable(null);
            blockModel.startAt = ko.observable(0);
            blockModel.slideshow = ko.observable(true);
            blockModel.slideshowSpeed = ko.observable(7000);
            blockModel.initDelay = ko.observable(0);
            blockModel.randomize = ko.observable(false);
            blockModel.pauseOnAction = ko.observable(true);
            blockModel.pauseOnHover = ko.observable(false);
            blockModel.touch = ko.observable(true);
            blockModel.video = ko.observable(false);
            blockModel.sync = ko.observable("");
            blockModel.asNavFor = ko.observable("");
            blockModel.itemWidth = ko.observable(0);
            blockModel.itemMargin = ko.observable(0);
            blockModel.minItems = ko.observable(0);
            blockModel.maxItems = ko.observable(0);
            blockModel.animation = ko.observable(0);
            blockModel.animationSpeed = ko.observable(600);
            blockModel.direction = ko.observable(0);
            blockModel.reverse = ko.observable(false);
            blockModel.move = ko.observable(0);
            blockModel.animationLoop = ko.observable(true);
            blockModel.smoothHeight = ko.observable(false);
            blockModel.easing = ko.observable(1);
            blockModel.useCSS = ko.observable(true);
            blockModel.controlNav = ko.observable(1);
            blockModel.directionNav = ko.observable(true);
            blockModel.prevText = ko.observable("Previous");
            blockModel.nextText = ko.observable("Next");
            blockModel.pausePlay = ko.observable(false);
            blockModel.pauseText = ko.observable("Pause");
            blockModel.playText = ko.observable("Play");
            blockModel.controlsContainer = ko.observable("");
            blockModel.manualControls = ko.observable("");
            blockModel.keyboard = ko.observable(true);
            blockModel.multipleKeyboard = ko.observable(false);
            blockModel.mousewheel = ko.observable(false);
            blockModel.onStart = ko.observable(null);
            blockModel.onEnd = ko.observable(null);
            blockModel.onBefore = ko.observable(null);
            blockModel.onAfter = ko.observable(null);
            blockModel.onAdded = ko.observable(null);
            blockModel.onRemoved = ko.observable(null);

            var data = ko.mapping.fromJSON(blockModel.blockValues());

            if ((isFunction(data) && data()) || data) {
                if (data.MediaFolder == undefined) {
                    // If this is not set, it means the contentBlock is new and we have nothing in blockValues
                    return;
                }
                blockModel.mediaFolder(data.MediaFolder());
                blockModel.controlId(data.ControlId());
                blockModel.namespace(data.Namespace());
                blockModel.selector(data.Selector());
                blockModel.startAt(data.StartAt());
                blockModel.slideshow(data.Slideshow());
                blockModel.slideshowSpeed(data.SlideshowSpeed());
                blockModel.initDelay(data.InitDelay());
                blockModel.randomize(data.Randomize());
                blockModel.pauseOnAction(data.PauseOnAction());
                blockModel.pauseOnHover(data.PauseOnHover());
                blockModel.touch(data.Touch());
                blockModel.video(data.Video());
                blockModel.sync(data.Sync());
                blockModel.asNavFor(data.AsNavFor());
                blockModel.itemWidth(data.ItemWidth());
                blockModel.itemMargin(data.ItemMargin());
                blockModel.minItems(data.MinItems());
                blockModel.maxItems(data.MaxItems());
                blockModel.animation(data.Animation());
                blockModel.animationSpeed(data.AnimationSpeed());
                blockModel.direction(data.Direction());
                blockModel.reverse(data.Reverse());
                blockModel.move(data.Move());
                blockModel.animationLoop(data.AnimationLoop());
                blockModel.smoothHeight(data.SmoothHeight());
                blockModel.easing(data.Easing());
                blockModel.useCSS(data.UseCSS());
                blockModel.controlNav(data.ControlNav());
                blockModel.directionNav(data.DirectionNav());
                blockModel.prevText(data.PrevText());
                blockModel.nextText(data.NextText());
                blockModel.pausePlay(data.PausePlay());
                blockModel.pauseText(data.PauseText());
                blockModel.playText(data.PlayText());
                blockModel.controlsContainer(data.ControlsContainer());
                blockModel.manualControls(data.ManualControls());
                blockModel.keyboard(data.Keyboard());
                blockModel.multipleKeyboard(data.MultipleKeyboard());
                blockModel.mousewheel(data.Mousewheel());
                blockModel.onStart(data.OnStart());
                blockModel.onEnd(data.OnEnd());
                blockModel.onBefore(data.OnBefore());
                blockModel.onAfter(data.OnAfter());
                blockModel.onAdded(data.OnAdded());
                blockModel.onRemoved(data.OnRemoved());
            }
        };
        f.cleanUp= function (blockModel) {
            delete blockModel.mediaFolder;
            delete blockModel.controlId;
            delete blockModel.namespace;
            delete blockModel.selector;
            delete blockModel.startAt;
            delete blockModel.slideshow;
            delete blockModel.slideshowSpeed;
            delete blockModel.initDelay;
            delete blockModel.randomize;
            delete blockModel.pauseOnAction;
            delete blockModel.pauseOnHover;
            delete blockModel.touch;
            delete blockModel.video;
            delete blockModel.sync;
            delete blockModel.asNavFor;
            delete blockModel.itemWidth;
            delete blockModel.itemMargin;
            delete blockModel.minItems;
            delete blockModel.maxItems;
            delete blockModel.animation;
            delete blockModel.animationSpeed;
            delete blockModel.direction;
            delete blockModel.reverse;
            delete blockModel.move;
            delete blockModel.animationLoop;
            delete blockModel.smoothHeight;
            delete blockModel.easing;
            delete blockModel.useCSS;
            delete blockModel.controlNav;
            delete blockModel.directionNav;
            delete blockModel.prevText;
            delete blockModel.nextText;
            delete blockModel.pausePlay;
            delete blockModel.pauseText;
            delete blockModel.playText;
            delete blockModel.controlsContainer;
            delete blockModel.manualControls;
            delete blockModel.keyboard;
            delete blockModel.multipleKeyboard;
            delete blockModel.mousewheel;
            delete blockModel.onStart;
            delete blockModel.onEnd;
            delete blockModel.onBefore;
            delete blockModel.onAfter;
            delete blockModel.onAdded;
            delete blockModel.onRemoved;
        };
        f.onBeforeSave = function (blockModel) {
            var data = {
                MediaFolder: blockModel.mediaFolder(),
                ControlId: blockModel.controlId(),
                Namespace: blockModel.namespace(),
                Selector: blockModel.selector(),
                StartAt: blockModel.startAt(),
                Slideshow: blockModel.slideshow(),
                SlideshowSpeed: blockModel.slideshowSpeed(),
                InitDelay: blockModel.initDelay(),
                Randomize: blockModel.randomize(),
                PauseOnAction: blockModel.pauseOnAction(),
                PauseOnHover: blockModel.pauseOnHover(),
                Touch: blockModel.touch(),
                Video: blockModel.video(),
                Sync: blockModel.sync(),
                AsNavFor: blockModel.asNavFor(),
                ItemWidth: blockModel.itemWidth(),
                ItemMargin: blockModel.itemMargin(),
                MinItems: blockModel.minItems(),
                MaxItems: blockModel.maxItems(),
                Animation: blockModel.animation(),
                AnimationSpeed: blockModel.animationSpeed(),
                Direction: blockModel.direction(),
                Reverse: blockModel.reverse(),
                Move: blockModel.move(),
                AnimationLoop: blockModel.animationLoop(),
                SmoothHeight: blockModel.smoothHeight(),
                Easing: blockModel.easing(),
                UseCSS: blockModel.useCSS(),
                ControlNav: blockModel.controlNav(),
                DirectionNav: blockModel.directionNav(),
                PrevText: blockModel.prevText(),
                NextText: blockModel.nextText(),
                PausePlay: blockModel.pausePlay(),
                PauseText: blockModel.pauseText(),
                PlayText: blockModel.playText(),
                ControlsContainer: blockModel.controlsContainer(),
                ManualControls: blockModel.manualControls(),
                Keyboard: blockModel.keyboard(),
                MultipleKeyboard: blockModel.multipleKeyboard(),
                Mousewheel: blockModel.mousewheel(),
                OnStart: blockModel.onStart(),
                OnEnd: blockModel.onEnd(),
                OnBefore: blockModel.onBefore(),
                OnAfter: blockModel.onAfter(),
                OnAdded: blockModel.onAdded(),
                OnRemoved: blockModel.onRemoved()
            };
            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>
