@using Kore.Plugins.Ecommerce.Simple
@using Kore.Plugins.Ecommerce.Simple.Extensions

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;

    Style.IncludeBundle("kendo-ui");
    Style.IncludeBundle("jquery-ui");
    Style.IncludeBundle("elfinder");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("knockout-mapping");
    Script.IncludeBundle("notify");
    Script.IncludeBundle("tinymce");
    Script.IncludeBundle("jquery-ui");
    Script.IncludeBundle("elfinder");

    Script.IncludeBundle("kore-cms/common");
    Script.IncludeBundle("kore-cms/bootbox");
    Script.IncludePluginScript("category-admin.js");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<style type="text/css">
    .modal-dialog {
        width: 800px !important;
        height: 480px !important;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a data-bind="click: create" class="btn btn-primary">
                    <i class="kore-icon kore-icon-add"></i>
                    @T(KoreWebLocalizableStrings.General.Create)
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well @rtlClass">
                    <div id="treeview"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
        <div id="toolbar" class="row" data-bind="visible: showToolbar">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group pull-right">
                    <a onclick="viewModel.delete()" class="btn btn-danger">@T(KoreWebLocalizableStrings.General.Delete).Text</a>
                    @*<a data-bind="click: translate" class="btn btn-primary">@T(KoreCmsLocalizableStrings.Pages.Translations).Text</a>
                    <a data-bind="click: toggleEnabled" class="btn btn-default">@T(KoreWebLocalizableStrings.General.Toggle).Text</a>*@
                    <a data-bind="click: showProducts" class="btn btn-default">
                        <i class="kore-icon kore-icon-tags"></i>
                        @T(LocalizableStrings.Products)
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="blank-section" class="row" style="display:none">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="alert alert-info">
                            @T(LocalizableStrings.SelectCategoryToBeginEdit)
                        </div>
                    </article>
                </div>

                <div id="form-section" class="row" style="display:none">
                    <article class="col-sm-12 col-md-12">
                        <form id="form-section-form" role="form">
                            <fieldset>
                                <legend id="form-section-legend"></legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("Name", T(LocalizableStrings.CategoryModel.Name), new { @class = "control-label" })
                                        @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: name" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("Slug", T(LocalizableStrings.CategoryModel.Slug), new { @class = "control-label" })
                                        @Html.TextBox("Slug", null, new { @class = "form-control", data_bind = "value: slug" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("Order", T(LocalizableStrings.CategoryModel.Order), new { @class = "control-label" })
                                        @Html.TextBox("Order", null, new { @class = "form-control", data_bind = "value: order" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div data-bind="if: imageUrl">
                                            <img data-bind="attr: { src: imageUrl }" class="img-responsive img-thumbnail" />
                                        </div>
                                        <div data-bind="ifnot: imageUrl">
                                            <img src="http://placehold.it/320x240&text=Image+Missing" class="img-responsive img-thumbnail" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="form-group">
                                        @Html.Label("ImageUrl", T(LocalizableStrings.CategoryModel.ImageUrl), new { @class = "control-label" })
                                        <div class="input-group">
                                            @Html.TextBox("ImageUrl", null, new { @class = "form-control", data_bind = "value: imageUrl" })
                                            <span class="input-group-addon">
                                                <a href="javascript:void(0);" onclick="elFinderBrowserBootBox();"><i class="kore-icon kore-icon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("Description", T(LocalizableStrings.CategoryModel.Description), new { @class = "control-label" })
                                        @Html.TextArea("Description", null, new { @class = "form-control", data_bind = "value: description" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("MetaKeywords", T(LocalizableStrings.CategoryModel.MetaKeywords), new { @class = "control-label" })
                                        @Html.TextBox("MetaKeywords", null, new { @class = "form-control", data_bind = "value: metaKeywords" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("MetaDescription", T(LocalizableStrings.CategoryModel.MetaDescription), new { @class = "control-label" })
                                        @Html.TextBox("MetaDescription", null, new { @class = "form-control", data_bind = "value: metaDescription" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default" data-bind="click: cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                        <button type="button" class="btn btn-primary" data-bind="click: save">@T(KoreWebLocalizableStrings.General.Save)</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </article>
                </div>

                <div id="product-grid-section" class="row" style="display:none">
                    <div class="col-md-12">
                        <a data-bind="click: product.create" class="btn btn-primary">
                            <i class="kore-icon kore-icon-add"></i>
                            @T(KoreWebLocalizableStrings.General.Create)
                        </a>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                    <div class="col-md-12 @rtlClass">
                        <div id="ProductGrid"></div>
                    </div>
                </div>

                <div id="product-form-section" class="row" style="display:none">
                    <article class="col-sm-12 col-md-12">
                        <form id="product-form-section-form" role="form">
                            <fieldset>
                                <legend id="product-form-section-legend"></legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("Name", T(LocalizableStrings.ProductModel.Name), new { @class = "control-label" })
                                        @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: product.name" })
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Slug", T(LocalizableStrings.ProductModel.Slug), new { @class = "control-label" })
                                        @Html.TextBox("Slug", null, new { @class = "form-control", data_bind = "value: product.slug" })
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Price", T(LocalizableStrings.ProductModel.Price), new { @class = "control-label" })
                                        @Html.TextBox("Price", null, new { @class = "form-control", data_bind = "value: product.price" })
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Tax", T(LocalizableStrings.ProductModel.Tax), new { @class = "control-label" })
                                        @Html.TextBox("Tax", null, new { @class = "form-control", data_bind = "value: product.tax" })
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("ShippingCost", T(LocalizableStrings.ProductModel.ShippingCost), new { @class = "control-label" })
                                        @Html.TextBox("ShippingCost", null, new { @class = "form-control", data_bind = "value: product.shippingCost" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div data-bind="if: product.mainImageUrl">
                                            <img data-bind="attr: { src: product.mainImageUrl }" class="img-responsive img-thumbnail" />
                                        </div>
                                        <div data-bind="ifnot: product.mainImageUrl">
                                            <img src="http://placehold.it/320x240&text=Image+Missing" class="img-responsive img-thumbnail" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="form-group">
                                        @Html.Label("MainImageUrl", T(LocalizableStrings.ProductModel.MainImageUrl), new { @class = "control-label" })
                                        <div class="input-group">
                                            @Html.TextBox("MainImageUrl", null, new { @class = "form-control", data_bind = "value: product.mainImageUrl" })
                                            <span class="input-group-addon">
                                                <a href="javascript:void(0);" onclick="elFinderBrowserBootBox();"><i class="kore-icon kore-icon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("ShortDescription", T(LocalizableStrings.ProductModel.ShortDescription), new { @class = "control-label" })
                                        @Html.TextArea("ShortDescription", null, new { @class = "form-control", data_bind = "value: product.shortDescription" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("FullDescription", T(LocalizableStrings.ProductModel.FullDescription), new { @class = "control-label" })
                                        @Html.TextArea("FullDescription", null, new { @class = "form-control", data_bind = "wysiwyg: product.fullDescription, wysiwygConfig: product.tinyMCE_fullDescription" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("MetaKeywords", T(LocalizableStrings.ProductModel.MetaKeywords), new { @class = "control-label" })
                                        @Html.TextBox("MetaKeywords", null, new { @class = "form-control", data_bind = "value: product.metaKeywords" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("MetaDescription", T(LocalizableStrings.ProductModel.MetaDescription), new { @class = "control-label" })
                                        @Html.TextBox("MetaDescription", null, new { @class = "form-control", data_bind = "value: product.metaDescription" })
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default" data-bind="click: product.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                        <button type="button" class="btn btn-primary" data-bind="click: product.save">@T(KoreWebLocalizableStrings.General.Save)</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            CircularRelationshipError: '@T(LocalizableStrings.CircularRelationshipError).Text',
            Create: '@T(KoreWebLocalizableStrings.General.Create).Text',
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.General.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.General.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.General.DeleteRecordSuccess).Text',
            Edit: '@T(KoreWebLocalizableStrings.General.Edit).Text',
            GetRecordError: '@T(KoreWebLocalizableStrings.General.GetRecordError).Text',
            InsertRecordError: '@T(KoreWebLocalizableStrings.General.InsertRecordError).Text',
            InsertRecordSuccess: '@T(KoreWebLocalizableStrings.General.InsertRecordSuccess).Text',
            UpdateRecordError: '@T(KoreWebLocalizableStrings.General.UpdateRecordError).Text',
            UpdateRecordSuccess: '@T(KoreWebLocalizableStrings.General.UpdateRecordSuccess).Text',

            Columns: {
                Product: {
                    Name: '@T(LocalizableStrings.ProductModel.Name).Text',
                    Price: '@T(LocalizableStrings.ProductModel.Price).Text'
                }
            }
        }
    </script>
    <script id="treeview-template" type="text/kendo-ui-template">
        <a href="javascript:void(0)" onclick="viewModel.edit('#=item.Id#')">#= item.Name #</a>
    </script>
}
