@using Kore.Web.ContentManagement.Areas.Admin.Newsletters.ContentBlocks
@model NewsletterSubscriptionBlock

<form id="newsletter-subscribe-form" class="form-horizontal">
    @Html.AntiForgeryToken()
    <label>@T(KoreCmsLocalizableStrings.ContentBlocks.NewsletterSubscriptionBlock.SignUpLabel)</label>
    <input type="text" id="newsletter-block-email" class="form-control" placeholder="@T(KoreCmsLocalizableStrings.ContentBlocks.NewsletterSubscriptionBlock.EmailPlaceholder)" />
    <input type="text" id="newsletter-block-name" class="form-control" placeholder="@T(KoreCmsLocalizableStrings.ContentBlocks.NewsletterSubscriptionBlock.NamePlaceholder)" />
    <input type="button" class="btn btn-primary" value="@T(KoreWebLocalizableStrings.General.Submit)" onclick="javascript: newsletterSignUp()" />
</form>

<style type="text/css">
    .modal-dialog {
        width: 80% !important;
    }
</style>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
        </div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
    function newsletterSignUp() {
        $.ajax({
            url: '@Url.Action("Subscribe", "Subscriber", new { area = CmsConstants.Areas.Newsletters })',
                data: {
                    email: $('#newsletter-block-email').val(),
                    name: $('#newsletter-block-name').val(),
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                },
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    $('#modal-message').html(result.Message);

                    if (result.Success) {
                        $('#modal-title').html('@T(KoreWebLocalizableStrings.General.Success)');
                    }
                    else {
                        $('#modal-title').html('@T(KoreWebLocalizableStrings.General.Error)');
                    }

                    $('#myModal').modal('show');
                }
            })
            .done(function (json) {
                $('#newsletter-block-email').val("");
                $('#newsletter-block-name').val("");
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                $('#modal-title').html('@T(KoreWebLocalizableStrings.General.Error) - ' + errorThrown);
                $('#modal-message').html(jqXHR.responseText || textStatus + ': ' + errorThrown);
                $('#myModal').modal('show');
            });
        };
    </script>
}