@using Kore.Plugins.Widgets.Google
@model Kore.Plugins.Widgets.Google.ContentBlocks.GoogleAdSenseBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.AdClient, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.AdClient, new { @class = "form-control", data_bind = "value: blockModel.adClient" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AdSlot, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.AdSlot, new { @class = "form-control", data_bind = "value: blockModel.adSlot" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.EnableLazyLoadAd, new { data_bind = "checked: blockModel.enableLazyLoadAd" }) @T(LocalizableStrings.ContentBlocks.AdSenseBlock.EnableLazyLoadAd)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Width, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Width, new { @class = "form-control", data_bind = "value: blockModel.width" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Height, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", data_bind = "value: blockModel.height" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function (blockModel) {
            blockModel.adClient = ko.observable("");
            blockModel.adSlot = ko.observable("");
            blockModel.width = ko.observable(0);
            blockModel.height = ko.observable(0);
            blockModel.enableLazyLoadAd = ko.observable(false);

            var data = ko.mapping.fromJSON(blockModel.blockValues());

            if (data) {
                if (data.AdClient) {
                    blockModel.adClient(data.AdClient());
                }
                if (data.AdSlot) {
                    blockModel.adSlot(data.AdSlot());
                }
                if (data.Width) {
                    blockModel.width(data.Width());
                }
                if (data.Height) {
                    blockModel.height(data.Height());
                }
                if (data.EnableLazyLoadAd) {
                    blockModel.enableLazyLoadAd(data.EnableLazyLoadAd());
                }
            }
        };
        f.cleanUp = function (blockModel) {
            delete blockModel.adClient;
            delete blockModel.adSlot;
            delete blockModel.width;
            delete blockModel.height;
            delete blockModel.enableLazyLoadAd;
        };
        f.onBeforeSave = function (blockModel) {
            var data = {
                AdClient: blockModel.adClient(),
                AdSlot: blockModel.adSlot(),
                Width: blockModel.width(),
                Height: blockModel.height(),
                EnableLazyLoadAd: blockModel.enableLazyLoadAd()
            };

            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>