@using Kore.Plugins.Widgets.Google
@model Kore.Plugins.Widgets.Google.ContentBlocks.GoogleAdSenseBlock

<div id="block-content">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.AdClient, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AdClient, new { @class = "form-control", data_bind = "value: adClient" })
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.AdSlot, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AdSlot, new { @class = "form-control", data_bind = "value: adSlot" })
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Width, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Width, new { @class = "form-control", data_bind = "value: width" })
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Height, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Height, new { @class = "form-control", data_bind = "value: height" })
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.EnableLazyLoadAd, new { data_bind = "checked: enableLazyLoadAd" }) @T(LocalizableStrings.ContentBlocks.AdSenseBlock.EnableLazyLoadAd)
            </label>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.adClient = ko.observable("");
            viewModel.adSlot = ko.observable("");
            viewModel.width = ko.observable(0);
            viewModel.height = ko.observable(0);
            viewModel.enableLazyLoadAd = ko.observable(false);

            var data = ko.mapping.fromJSON(viewModel.blockValues());

            if (data) {
                if (data.AdClient) {
                    viewModel.adClient(data.AdClient());
                }
                if (data.AdSlot) {
                    viewModel.adSlot(data.AdSlot());
                }
                if (data.Width) {
                    viewModel.width(data.Width());
                }
                if (data.Height) {
                    viewModel.height(data.Height());
                }
                if (data.EnableLazyLoadAd) {
                    viewModel.enableLazyLoadAd(data.EnableLazyLoadAd());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.adClient;
            delete viewModel.adSlot;
            delete viewModel.width;
            delete viewModel.height;
            delete viewModel.enableLazyLoadAd;
        };
        f.onBeforeSave = function () {
            var data = {
                AdClient: viewModel.adClient(),
                AdSlot: viewModel.adSlot(),
                Width: viewModel.width(),
                Height: viewModel.height(),
                EnableLazyLoadAd: viewModel.enableLazyLoadAd()
            };

            viewModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>