@using Kore.Infrastructure
@using Kore.Plugins.Widgets.RoyalVideoPlayer
@using Kore.Plugins.Widgets.RoyalVideoPlayer.Extensions
@using Kore.Plugins.Widgets.RoyalVideoPlayer.Services

@model RoyalVideoPlayerBlock

@{
    Script.IncludePluginScript("FWDRVPlayer.js");

    var playlistService = EngineContext.Current.Resolve<IPlaylistService>();
    var playlistVideoService = EngineContext.Current.Resolve<IPlaylistVideoService>();
    var videoService = EngineContext.Current.Resolve<IVideoService>();

    var playlist = playlistService.FindOne(Model.PlaylistId);
    var videoIds = playlistVideoService.Find(x => x.PlaylistId == Model.PlaylistId).Select(x => x.VideoId);
    var videos = videoService.Find(x => videoIds.Contains(x.Id));

    string playlistName = playlist.Name.ToSlugUrl();
}

<!-- video holder -->
<div id="video-wrapper" style="margin:auto;"></div>

<!--  Playlists -->
<ul id="playlists" style="display:none;">
    <li data-source="@playlistName" data-thumbnail-path="Plugins/Widgets.RoyalVideoPlayer/Content/thumbnails/large1.jpg">
        <p class="minimalWhiteCategoriesTitle"><span class="bold">Title: </span>@playlist.Name</p>
        <p class="minimalWhiteCategoriesType"><span class="bold">Type: </span><span class="minimalWhiteCategoriesTypeIn">HTML</span></p>
        <p class="minimalWhiteCategoriesDescription"><span class="bold">Description: </span>Created using html elements, videos are loaded and played from the server.</p>
    </li>
</ul>

<!--  HTML playlist -->
<ul id="@playlistName" style="display:none;">

    @foreach (var video in videos)
    {
        string source = string.Empty;
        if (!string.IsNullOrEmpty(video.MobileVideoUrl))
        {
            source = string.Concat(video.VideoUrl, ",", video.MobileVideoUrl);
        }
        else
        {
            source = video.VideoUrl;
        }

        string posterSource = string.Empty;
        if (!string.IsNullOrEmpty(video.MobilePosterUrl))
        {
            posterSource = string.Concat(video.PosterUrl, ",", video.MobilePosterUrl);
        }
        else
        {
            posterSource = video.PosterUrl;
        }

        string downloadable = video.IsDownloadable ? "yes" : "no";

        string html = string.Empty;
        if (!string.IsNullOrEmpty(video.PopoverHtml))
        {
            html = video.PopoverHtml;
        }
        else
        {
            html = string.Format(@"<div>
                <img class='floatLeft' src='{0}' width='120px' height='90px' />
                <p class='floatP'><span class='boldDarkItalic'>{1}</span></p>
            </div>", video.ThumbnailUrl, video.Title);
        }
        
        <li data-thumb-source="@video.ThumbnailUrl" data-video-source="@source" data-poster-source="@posterSource" data-downloadable="@downloadable">
            @Html.Raw(html)
        </li>
    }
</ul>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        FWDRVPUtils.onReady(function () {

            FWDRVPlayer.useYoutube = "yes";

            new FWDRVPlayer({
                //main settings
                instanceName: "player1",
                parentId: "video-wrapper",
                playlistsId: "playlists",
                mainFolderPath: "Plugins/Widgets.RoyalVideoPlayer/Content",
                skinPath: "minimal_skin_dark",
                displayType: "responsive",
                facebookAppId: "213684265480896",
                autoScale: "yes",
                useDeepLinking: "yes",
                rightClickContextMenu: "default",
                addKeyboardSupport: "yes",
                stopVideoWhenPlayComplete: "no",
                autoPlay: "no",
                loop: "no",
                shuffle: "no",
                maxWidth: 960,
                maxHeight: 599,
                volume: .8,
                backgroundColor: "#000000",
                posterBackgroundColor: "#000000",
                //logo settings
                showLogo: "yes",
                hideLogoWithController: "yes",
                logoPosition: "topRight",
                logoMargins: 5,
                //playlists / categories settings
                showPlaylistsByDefault: "no",
                thumbnailSelectedType: "opacity",
                startAtPlaylist: 0,
                buttonsMargins: 0,
                thumbnailMaxWidth: 350,
                thumbnailMaxHeight: 350,
                horizontalSpaceBetweenThumbnails: 40,
                verticalSpaceBetweenThumbnails: 40,
                //playlist settings
                playlistPosition: "right",
                showPlaylistByDefault: "yes",
                showPlaylistToolTips: "yes",
                forceDisableDownloadButtonForFolder: "yes",
                addMouseWheelSupport: "yes",
                startAtRandomVideo: "no",
                addMouseWheelSupport: "yes",
                folderVideoLabel: "Video ",
                startAtVideo: 0,
                maxPlaylistItems: 50,
                playlistToolTipMaxWidth: 270,
                thumbnailWidth: 120,
                thumbnailHeight: 90,
                spaceBetweenControlerAndPlaylist: 1,
                playlistToolTipFontColor: "#000000",
                //controller settings
                showButtonsToolTip: "yes",
                showControllerWhenVideoIsStopped: "yes",
                showPlaylistsButtonAndPlaylists: "yes",
                showPlaylistButtonAndPlaylist: "yes",
                showVolumeScrubber: "yes",
                showVolumeButton: "yes",
                showTime: "yes",
                showLoopButton: "yes",
                showShuffleButton: "yes",
                showYoutubeQualityButton: "yes",
                showDownloadButton: "yes",
                showFacebookButton: "yes",
                showEmbedButton: "yes",
                showFullScreenButton: "yes",
                repeatBackground: "no",
                buttonsToolTipHideDelay: 1.5,
                controllerHeight: 41,
                controllerHideDelay: 3,
                startSpaceBetweenButtons: 7,
                spaceBetweenButtons: 8,
                mainScrubberOffestTop: 14,
                scrubbersOffsetWidth: 2,
                timeOffsetLeftWidth: 5,
                timeOffsetRightWidth: 3,
                timeOffsetTop: 0,
                volumeScrubberWidth: 80,
                volumeScrubberOffsetRightWidth: 0,
                timeColor: "#888888",
                youtubeQualityButtonNormalColor: "#888888",
                youtubeQualityButtonSelectedColor: "#FFFFFF",
                buttonsToolTipFontColor: "#5a5a5a",
                //embed window
                embedWindowCloseButtonMargins: 0,
                borderColor: "#333333",
                mainLabelsColor: "#FFFFFF",
                secondaryLabelsColor: "#a1a1a1",
                shareAndEmbedTextColor: "#5a5a5a",
                inputBackgroundColor: "#000000",
                inputColor: "#FFFFFF",
                //ads
                openNewPageAtTheEndOfTheAds: "no",
                playAdsOnlyOnce: "no",
                adsButtonsPosition: "left",
                skipToVideoText: "You can skip to video in: ",
                skipToVideoButtonText: "Skip Ad",
                adsTextNormalColor: "#888888",
                adsTextSelectedColor: "#FFFFFF",
                adsBorderNormalColor: "#666666",
                adsBorderSelectedColor: "#FFFFFF"
            });
        });
    </script>
}