@using KoreCMS.Security.Membership

@model UserProfileProvider

<div class="form-group">
    @Html.LabelFor(m => m.FamilyName, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FamilyName)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.GivenNames, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.GivenNames, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.GivenNames)
</div>
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.ShowFamilyNameFirst) Show Family Name First
    </label>
</div>