@using Kore.Web
@using Kore.Web.Indexing.Services
@using Kore.
@model IndexEntry

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;
    string message = ViewBag.Message;
}

@if (!string.IsNullOrEmpty(message))
{
    @Html.Raw(ViewBag.Message)
}

@if (Model != null)
{
    if (Model.LastUpdateUtc == DateTime.MinValue)
    {
        <div class="alert alert-info">@T(KoreWebLocalizableStrings.Indexing.SearchIndexNotBuiltYet)</div>
    }
    else
    {
        if (Model.DocumentCount == 0)
        {
            <div class="alert alert-info">@T(KoreWebLocalizableStrings.Indexing.SearchIndexNoDocuments)</div>
        }
        else
        {
            <div class="alert alert-info">
                @string.Format(T(KoreWebLocalizableStrings.Indexing.SearchIndexContainsNDocuments), Model.DocumentCount))
            </div>
        }

        if (Model.Fields.Any())
        {
            <div class="alert alert-info">
                @string.Format(T(KoreWebLocalizableStrings.Indexing.SearchIndexContainsTheseFields), string.Join(", ", Model.Fields))
            </div>
        }
        else
        {
            <div class="alert alert-info">@T(KoreWebLocalizableStrings.Indexing.SearchIndexContainsNoFields)</div>
        }

        <div class="alert alert-info">@string.Format(T(KoreWebLocalizableStrings.Indexing.SearchIndexLastUpdatedOn), Model.LastUpdateUtc)</div>

        switch (Model.IndexingStatus)
        {
            case IndexingStatus.Rebuilding:
                <div class="alert alert-info">@T(KoreWebLocalizableStrings.Indexing.SearchIndexCurrentlyBeingRebuilt)</div>
                break;

            case IndexingStatus.Updating:
            <div class="alert alert-info">@T(KoreWebLocalizableStrings.Indexing.SearchIndexCurrentlyBeingUpdated)</div>
                break;
        }
    }
    <form method="post" action="@Url.Action("Rebuild")">
        <div class="form-group">
            <label>@T(KoreWebLocalizableStrings.Indexing.RebuildForFreshStart)</label><br />
            <button class="btn btn-primary" type="submit">
                <i class="kore-icon kore-icon-refresh"></i>&nbsp;@T(KoreWebLocalizableStrings.Indexing.Rebuild)
            </button>
        </div>
    </form>
}