@using Kore.Plugins.Ecommerce.Simple
@using Kore.Plugins.Ecommerce.Simple.Data.Domain
@model IEnumerable<Category>

<div id="accordian" class="panel-group category-products">
    @foreach (var category in Model)
    {
        string allCategoryEntry = string.Format(T(LocalizableStrings.Filter.AllCategoryFormat), category.Name);
        
        if (!category.SubCategories.IsNullOrEmpty())
        {
            string id = category.Slug.Replace("/", "-");
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#@id" data-parent="#accordian" data-toggle="collapse">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @category.Name
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="@id">
                    <div class="panel-body">
                        <ul>
                            <li><a href="@Url.Action("Products", "Store", new { area = string.Empty, categorySlug = category.Slug })">@allCategoryEntry</a></li>
                            @foreach (var subCategory in category.SubCategories)
                            {
                                <li><a href="@Url.Action("Products", "Store", new { area = string.Empty, categorySlug = subCategory.Slug })">@subCategory.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="@Url.Action("Products", "Store", new { area = string.Empty, categorySlug = category.Slug })">
                            @category.Name
                        </a>
                    </h4>
                </div>
            </div>
        }
    }
</div>