@using Kore.Web
@using Kore.Web.Mvc.KoreUI

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="users-grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-left">
            <a data-bind="click: userModel.create" class="btn btn-primary">
                <i class="kore-icon kore-icon-add"></i>
                @T(KoreWebLocalizableStrings.General.Create)
            </a>
            <a data-bind="click: viewRoles" class="btn btn-default">
                <i class="kore-icon kore-icon-group"></i>
                @T(KoreWebLocalizableStrings.Membership.Roles)
            </a>
        </div>
        <div class="pull-right">
            @Html.Kore().RolesDropDownList("RoleFilter", null, new { @class = "form-control", data_bind = "value: userModel.filterRoleId, event: { change: userModel.filterRole }" }, string.Empty)
        </div>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12 @rtlClass">
        <div id="UsersGrid"></div>
    </div>
</div>

<div id="users-edit-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="users-edit-form-section-form" role="form">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.General.Edit)</legend>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("UserName", T(KoreWebLocalizableStrings.Membership.UserModel.UserName), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-user"></i>
                                    </span>
                                    @Html.TextBox("UserName", null, new { @class = "form-control", data_bind = "value: userModel.userName" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Email", T(KoreWebLocalizableStrings.Membership.UserModel.Email), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-mail"></i>
                                    </span>
                                    @Html.TextBox("Email", null, new { @class = "form-control", data_bind = "value: userModel.email" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("IsLockedOut", new { data_bind = "checked: userModel.isLockedOut" }) @T(KoreWebLocalizableStrings.Membership.UserModel.IsLockedOut)
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: userModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: userModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="user-roles-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.Membership.UpdateUserRoles))) { }
            using (var body = panel.BeginBody())
            {
                <form id="user-roles-form-section-form" role="form">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.Membership.UpdateUserRoles)</legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("UserRoles", T(KoreWebLocalizableStrings.Membership.UserModel.Roles), new { @class = "control-label" })
                                @Html.Kore().RolesCheckBoxList("UserRoles", null, new { @class = "checkbox" }, new { data_bind = "checked: userModel.roles" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: userModel.editRoles_cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: userModel.editRoles_save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="change-password-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.Membership.ChangePassword))) { }
            using (var body = panel.BeginBody())
            {
                <form id="change-password-form-section-form" role="form">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.Membership.ChangePassword)</legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">@T(KoreWebLocalizableStrings.Membership.ChangePasswordModel.UserName)</label>
                                <input type="text" class="form-control" readonly="readonly" data-bind="value: changePasswordModel.userName" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Change_Password", T(KoreWebLocalizableStrings.Membership.ChangePasswordModel.Password), new { @class = "control-label" })
                                @Html.Password("Change_Password", null, new { @class = "form-control", data_bind = "value: changePasswordModel.password" })
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Change_ConfirmPassword", T(KoreWebLocalizableStrings.Membership.ChangePasswordModel.ConfirmPassword), new { @class = "control-label" })
                                @Html.Password("Change_ConfirmPassword", null, new { @class = "form-control", data_bind = "value: changePasswordModel.confirmPassword" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: changePasswordModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: changePasswordModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="roles-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: roleModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: viewUsers" class="btn btn-default">
            <i class="kore-icon kore-icon-user"></i>
            @T(KoreWebLocalizableStrings.Membership.Users)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="RolesGrid"></div>
    </div>
</div>

<div id="roles-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="roles-form-section-form" role="form">
                    <fieldset>
                        <legend id="roles-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Name", T(KoreWebLocalizableStrings.Membership.RoleModel.Name), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-group"></i>
                                    </span>
                                    @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: roleModel.name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: roleModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: roleModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="role-permissions-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.Membership.EditRolePermissions))) { }
            using (var body = panel.BeginBody())
            {
                <form id="role-permissions-form-section-form" role="form">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.Membership.EditRolePermissions)</legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @*@Html.Label("RolePermissions", "Permissions", new { @class = "control-label" })*@
                                @Html.Kore().PermissionsCheckBoxList("RolePermissions", null, new { @class = "checkbox" }, new { data_bind = "checked: roleModel.permissions" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: roleModel.editPermissions_cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: roleModel.editPermissions_save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>