@using Kore.Web.ContentManagement.Areas.Admin.Blog
@using Kore.Web.Mvc

@model BlogSettings

<div id="settings-content">
    <div class="form-group">
        @Html.LabelFor(m => m.PageTitle, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.PageTitle, new { @class = "form-control", data_bind = "value: pageTitle" })
        @Html.ValidationMessageFor(m => m.PageTitle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateFormat, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.DateFormat, new { @class = "form-control", data_bind = "value: dateFormat" })
        @Html.ValidationMessageFor(m => m.DateFormat)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ItemsPerPage, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ItemsPerPage, new { type = "number", @class = "form-control", data_bind = "value: itemsPerPage" })
        @Html.ValidationMessageFor(m => m.ItemsPerPage)
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.ShowOnMenus, new { data_bind = "checked: showOnMenus" }) @T(KoreCmsLocalizableStrings.Settings.Blog.ShowOnMenus)
            </label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MenuPosition, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.MenuPosition, new { type = "number", @class = "form-control", data_bind = "value: menuPosition" })
        @Html.ValidationMessageFor(m => m.MenuPosition)
    </div>
    <div class="form-group">
        @Html.Label("Roles", "Roles", new { @class = "control-label" })
        @Html.Kore().RolesCheckBoxList("Roles", null, new { @class = "checkbox" }, new { data_bind = "checked: roles" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LayoutPathOverride, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LayoutPathOverride, new { @class = "form-control", data_bind = "value: layoutPathOverride" })
        @Html.ValidationMessageFor(m => m.LayoutPathOverride)
    </div>
</div>

<script type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.pageTitle = ko.observable("Blog");
        viewModel.dateFormat = ko.observable("YYYY-MM-DD HH:mm:ss");
        viewModel.itemsPerPage = ko.observable(5);
        viewModel.showOnMenus = ko.observable(true);
        viewModel.menuPosition = ko.observable(0);
        viewModel.layoutPathOverride = ko.observable(null);

        viewModel.accessRestrictions = null;
        viewModel.roles = ko.observableArray([]);
        
        if (data) {
            if (data.PageTitle) {
                viewModel.pageTitle(data.PageTitle);
            }
            if (data.DateFormat) {
                viewModel.dateFormat(data.DateFormat);
            }
            if (data.ItemsPerPage) {
                viewModel.itemsPerPage(data.ItemsPerPage);
            }
            if (data.ShowOnMenus && typeof data.ShowOnMenus === 'boolean') {
                viewModel.showOnMenus(data.ShowOnMenus);
            }
            if (data.MenuPosition) {
                viewModel.menuPosition(data.MenuPosition);
            }
            if (data.AccessRestrictions) {
                viewModel.accessRestrictions = ko.mapping.fromJSON(data.AccessRestrictions);

                if (viewModel.accessRestrictions.Roles != null) {
                    var split = viewModel.accessRestrictions.Roles().split(',');
                    viewModel.roles(split);
                }
            }
            if (data.LayoutPathOverride) {
                viewModel.layoutPathOverride(data.LayoutPathOverride);
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.pageTitle;
        delete viewModel.dateFormat;
        delete viewModel.itemsPerPage;
        delete viewModel.showOnMenus;
        delete viewModel.menuPosition;
        delete viewModel.accessRestrictions;
        delete viewModel.roles;
        delete viewModel.layoutPathOverride;
    }

    function onBeforeSave(viewModel) {
        var data = {
            PageTitle: viewModel.pageTitle(),
            DateFormat: viewModel.dateFormat(),
            ItemsPerPage: viewModel.itemsPerPage(),
            ShowOnMenus: viewModel.showOnMenus(),
            MenuPosition: viewModel.menuPosition(),
            AccessRestrictions: JSON.stringify({
                Roles: viewModel.roles().join()
            }),
            LayoutPathOverride: viewModel.layoutPathOverride()
        };

        viewModel.value(ko.mapping.toJSON(data));
    };
</script>