@using Kore.Web.ContentManagement.Areas.Admin.Blog.ContentBlocks
@using WebEnumExtensions = Kore.Web.EnumExtensions

@model FilteredPostsBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.Label("FilterType", T(KoreCmsLocalizableStrings.ContentBlocks.AllPostsBlock.FilterType), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.DropDownList(
                "FilterType",
                WebEnumExtensions.ToSelectList<FilterType>(),
                new { @class = "form-control", data_bind = "value: blockModel.filterType" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group" data-bind="visible: filterType() == 1">
            @Html.Label("CategoryId", T(KoreCmsLocalizableStrings.ContentBlocks.AllPostsBlock.CategoryId), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="kore-icon kore-icon-categories"></i>
                    </span>
                    @Html.KoreCMS().BlogCategoryDropDownList(
                        "CategoryId",
                        emptyText: string.Empty,
                        htmlAttributes: new { @class = "form-control", data_bind = "value: blockModel.categoryId" })
                </div>
            </div>
        </div>
        <div class="form-group" data-bind="visible: filterType() == 2">
            @Html.Label("TagId", T(KoreCmsLocalizableStrings.ContentBlocks.AllPostsBlock.TagId), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="kore-icon kore-icon-tags"></i>
                    </span>
                    @Html.KoreCMS().BlogTagDropDownList(
                        "TagId",
                        emptyText: string.Empty,
                        htmlAttributes: new { @class = "form-control", data_bind = "value: blockModel.tagId" })
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.blockModel.filterType = ko.observable(0);
            viewModel.blockModel.categoryId = ko.observable(null);
            viewModel.blockModel.tagId = ko.observable(null);

            var data = ko.mapping.fromJSON(viewModel.blockModel.blockValues());

            if (data) {
                if (data.FilterType) {
                    viewModel.blockModel.filterType(data.FilterType());
                }
                if (data.CategoryId) {
                    viewModel.blockModel.categoryId(data.CategoryId());
                }
                if (data.TagId) {
                    viewModel.blockModel.tagId(data.TagId());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.blockModel.filterType;
            delete viewModel.blockModel.categoryId;
            delete viewModel.blockModel.tagId;
        };
        f.onBeforeSave = function () {
            var data = {
                FilterType: viewModel.blockModel.filterType(),
                CategoryId: viewModel.blockModel.categoryId(),
                TagId: viewModel.blockModel.tagId()
            };

            viewModel.blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>