@using Kore.Web.ContentManagement.Areas.Admin.Blog.ContentBlocks
@model TagCloudBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.AutoResize, new { data_bind = "checked: blockModel.autoResize" }) @T(KoreCmsLocalizableStrings.ContentBlocks.TagCloudBlock.AutoResize)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RemoveOverflowing, new { data_bind = "checked: blockModel.removeOverflowing" }) @T(KoreCmsLocalizableStrings.ContentBlocks.TagCloudBlock.RemoveOverflowing)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.EncodeURI, new { data_bind = "checked: blockModel.encodeURI" }) @T(KoreCmsLocalizableStrings.ContentBlocks.TagCloudBlock.EncodeURI)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Steps, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Steps, new { @class = "form-control", data_bind = "value: blockModel.steps" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ClassPattern, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.ClassPattern, new { @class = "form-control", data_bind = "value: blockModel.classPattern" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AfterCloudRender, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextAreaFor(m => m.AfterCloudRender, new { @class = "form-control", data_bind = "value: blockModel.afterCloudRender" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Delay, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Delay, new { @class = "form-control", data_bind = "value: blockModel.delay" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Shape, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.EnumDropDownListFor(m => m.Shape, new { @class = "form-control", data_bind = "value: blockModel.shape" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Colors, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Colors, new { @class = "form-control", data_bind = "value: blockModel.colors" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FontSizeFrom, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.FontSizeFrom, new { @class = "form-control", data_bind = "value: blockModel.fontSizeFrom" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FontSizeTo, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.FontSizeTo, new { @class = "form-control", data_bind = "value: blockModel.fontSizeTo" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            //viewModel.blockModel.width = ko.observable(100);
            //viewModel.blockModel.widthUnit = ko.observable(1);
            //viewModel.blockModel.height = ko.observable(250);
            //viewModel.blockModel.heightUnit = ko.observable(0);
            //viewModel.blockModel.centerX = ko.observable(0.5);
            //viewModel.blockModel.centerY = ko.observable(0.5);
            viewModel.blockModel.autoResize = ko.observable(false);
            viewModel.blockModel.steps = ko.observable(10);
            viewModel.blockModel.classPattern = ko.observable('w{n}');
            viewModel.blockModel.afterCloudRender = ko.observable(null);
            viewModel.blockModel.delay = ko.observable(null);
            viewModel.blockModel.shape = ko.observable(0);
            viewModel.blockModel.removeOverflowing = ko.observable(true);
            viewModel.blockModel.encodeURI = ko.observable(true);
            viewModel.blockModel.colors = ko.observable(null);
            viewModel.blockModel.fontSizeFrom = ko.observable(null);
            viewModel.blockModel.fontSizeTo = ko.observable(null);

            var data = ko.mapping.fromJSON(viewModel.blockModel.blockValues());

            if (data) {
                //if (data.Width) {
                //    viewModel.blockModel.width(data.Width());
                //}
                //if (data.WidthUnit) {
                //    viewModel.blockModel.widthUnit(data.WidthUnit());
                //}
                //if (data.Height) {
                //    viewModel.blockModel.height(data.Height());
                //}
                //if (data.HeightUnit) {
                //    viewModel.blockModel.heightUnit(data.HeightUnit());
                //}
                //if (data.CenterX) {
                //    viewModel.blockModel.centerX(data.CenterX());
                //}
                //if (data.CenterY) {
                //    viewModel.blockModel.centerY(data.CenterY());
                //}
                if (data.AutoResize && typeof data.AutoResize() === 'boolean') {
                    viewModel.blockModel.autoResize(data.AutoResize());
                }
                if (data.Steps) {
                    viewModel.blockModel.steps(data.Steps());
                }
                if (data.ClassPattern) {
                    viewModel.blockModel.classPattern(data.ClassPattern());
                }
                if (data.AfterCloudRender) {
                    viewModel.blockModel.afterCloudRender(data.AfterCloudRender());
                }
                if (data.Delay) {
                    viewModel.blockModel.delay(data.Delay());
                }
                if (data.Shape) {
                    viewModel.blockModel.shape(data.Shape());
                }
                if (data.RemoveOverflowing && typeof data.RemoveOverflowing() === 'boolean') {
                    viewModel.blockModel.removeOverflowing(data.RemoveOverflowing());
                }
                if (data.EncodeURI && typeof data.EncodeURI() === 'boolean') {
                    viewModel.blockModel.encodeURI(data.EncodeURI());
                }
                if (data.Colors) {
                    viewModel.blockModel.colors(data.Colors());
                }
                if (data.FontSizeFrom) {
                    viewModel.blockModel.fontSizeFrom(data.FontSizeFrom());
                }
                if (data.FontSizeTo) {
                    viewModel.blockModel.fontSizeTo(data.FontSizeTo());
                }
            }
        };
        f.cleanUp = function () {
            //delete viewModel.blockModel.width;
            //delete viewModel.blockModel.widthUnit;
            //delete viewModel.blockModel.height;
            //delete viewModel.blockModel.heightUnit;
            //delete viewModel.blockModel.centerX;
            //delete viewModel.blockModel.centerY;
            delete viewModel.blockModel.autoResize;
            delete viewModel.blockModel.steps;
            delete viewModel.blockModel.classPattern;
            delete viewModel.blockModel.afterCloudRender;
            delete viewModel.blockModel.delay;
            delete viewModel.blockModel.shape;
            delete viewModel.blockModel.removeOverflowing;
            delete viewModel.blockModel.encodeURI;
            delete viewModel.blockModel.colors;
            delete viewModel.blockModel.fontSizeFrom;
            delete viewModel.blockModel.fontSizeTo;
        };
        f.onBeforeSave = function () {
            var data = {
                //Width: viewModel.blockModel.width(),
                //WidthUnit: viewModel.blockModel.widthUnit(),
                //Height: viewModel.blockModel.height(),
                //HeightUnit: viewModel.blockModel.heightUnit(),
                //CenterX: viewModel.blockModel.centerX(),
                //CenterY: viewModel.blockModel.centerY(),
                AutoResize: viewModel.blockModel.autoResize(),
                Steps: viewModel.blockModel.steps(),
                ClassPattern: viewModel.blockModel.classPattern(),
                AfterCloudRender: viewModel.blockModel.afterCloudRender(),
                Delay: viewModel.blockModel.delay(),
                Shape: viewModel.blockModel.shape(),
                RemoveOverflowing: viewModel.blockModel.removeOverflowing(),
                EncodeURI: viewModel.blockModel.encodeURI(),
                Colors: viewModel.blockModel.colors(),
                FontSizeFrom: viewModel.blockModel.fontSizeFrom(),
                FontSizeTo: viewModel.blockModel.fontSizeTo()
            };

            viewModel.blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>