@using Kore.Plugins.Widgets.RoyalVideoPlayer
@using Kore.Plugins.Widgets.RoyalVideoPlayer.Extensions
@using Kore.Web.Mvc.KoreUI

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;

    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("breeze");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore-cms/bootpag");
    Script.IncludeBundle("kore/section-switching");
    Script.IncludeBundle("kore/jqueryval");
    Script.IncludePluginScript("index.js");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<style type="text/css">
    #sortable1, #sortable2 {
        border: 1px solid #eee;
        float: left;
        list-style-type: none;
        margin: 0 10px 0 0;
        min-height: 20px;
        width: 100%;
        padding: 5px 0 0;
    }
        #sortable1 li, #sortable2 li {
            margin: 0 5px 5px;
            padding: 5px;
        }
</style>

<div id="playlists-grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: playlist.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showVideos" class="btn btn-default">
            <i class="kore-icon kore-icon-video"></i>
            @T(LocalizableStrings.Videos)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="PlaylistGrid"></div>
    </div>
</div>

<div id="playlists-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="playlists-form-section-form" role="form">
                    <fieldset>
                        <legend id="playlists-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Name", T(LocalizableStrings.Models.Playlist.Name), new { @class = "control-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: playlist.name" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: playlist.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: playlist.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(LocalizableStrings.Videos))) { }
            using (var body = panel.BeginBody())
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <ul id="sortable1" data-bind="foreach: playlist.availableVideos">
                            <li class="thumbnail" data-bind="attr: { 'data-video-id': id }">
                                <img data-bind="attr: { src: thumbnailUrl }" class="img-responsive" />
                                <p data-bind="text: title"></p>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div id="pager"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <ul id="sortable2">

                        </ul>
                    </div>
                </div>
            }
        }
    </article>
</div>

<div id="videos-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: video.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showPlaylists" class="btn btn-default">
            <i class="kore-icon kore-icon-play"></i>
            @T(LocalizableStrings.Playlists)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="VideoGrid"></div>
    </div>
</div>

<div id="videos-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="videos-form-section-form" role="form">
                    <fieldset>
                        <legend id="videos-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Title", T(LocalizableStrings.Models.Video.Title), new { @class = "control-label" })
                                @Html.TextBox("Title", null, new { @class = "form-control", data_bind = "value: video.title" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("ThumbnailUrl", T(LocalizableStrings.Models.Video.ThumbnailUrl), new { @class = "control-label" })
                                @Html.TextBox("ThumbnailUrl", null, new { @class = "form-control", data_bind = "value: video.thumbnailUrl" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("VideoUrl", T(LocalizableStrings.Models.Video.VideoUrl), new { @class = "control-label" })
                                @Html.TextBox("VideoUrl", null, new { @class = "form-control", data_bind = "value: video.videoUrl" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("MobileVideoUrl", T(LocalizableStrings.Models.Video.MobileVideoUrl), new { @class = "control-label" })
                                @Html.TextBox("MobileVideoUrl", null, new { @class = "form-control", data_bind = "value: video.mobileVideoUrl" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("PosterUrl", T(LocalizableStrings.Models.Video.PosterUrl), new { @class = "control-label" })
                                @Html.TextBox("PosterUrl", null, new { @class = "form-control", data_bind = "value: video.posterUrl" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("MobilePosterUrl", T(LocalizableStrings.Models.Video.MobilePosterUrl), new { @class = "control-label" })
                                @Html.TextBox("MobilePosterUrl", null, new { @class = "form-control", data_bind = "value: video.mobilePosterUrl" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("IsDownloadable", new { data_bind = "checked: video.isDownloadable" }) @T(LocalizableStrings.Models.Video.IsDownloadable)
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("PopoverHtml", T(LocalizableStrings.Models.Video.PopoverHtml), new { @class = "control-label" })
                                @Html.TextArea("PopoverHtml", null, new { @class = "form-control", data_bind = "value: video.popoverHtml" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: video.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: video.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            Create: '@T(KoreWebLocalizableStrings.General.Create).Text',
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.General.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.General.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.General.DeleteRecordSuccess).Text',
            Edit: '@T(KoreWebLocalizableStrings.General.Edit).Text',
            GetRecordError: '@T(KoreWebLocalizableStrings.General.GetRecordError).Text',
            InsertRecordError: '@T(KoreWebLocalizableStrings.General.InsertRecordError).Text',
            InsertRecordSuccess: '@T(KoreWebLocalizableStrings.General.InsertRecordSuccess).Text',
            UpdateRecordError: '@T(KoreWebLocalizableStrings.General.UpdateRecordError).Text',
            UpdateRecordSuccess: '@T(KoreWebLocalizableStrings.General.UpdateRecordSuccess).Text',

            Columns:{
                Playlist: {
                    Name: '@T(LocalizableStrings.Models.Playlist.Name).Text'
                },
                Video: {
                    ThumbnailUrl: '@T(LocalizableStrings.Models.Video.ThumbnailUrl).Text',
                    Title: '@T(LocalizableStrings.Models.Video.Title).Text'
                }
            }
        }
    </script>
}