@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Data.Domain
@using Kore.Plugins.Messaging.Forums.Extensions
@using Kore.Plugins.Messaging.Forums.Models
@model EditForumPostModel

@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T(LocalizableStrings.EditPost)</h1>
        }
        else
        {
            <h1>@T(LocalizableStrings.NewPost)</h1>
        }
    </div>
    <div class="page-body">
        @using (Html.BeginForm("PostSave", "Forums"))
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="alert alert-danger message-error" role="alert">
                    @validationSummary
                </div> 
            }
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ForumTopicId)
            <div class="fieldset">
                <div class="form-fields">
                    <div class="form-group inputs">
                        <label class="label label-default">@T(LocalizableStrings.ForumName)</label>
                        <strong class="forum-subject">@Model.ForumName</strong>
                    </div>
                    <div class="form-group inputs">
                        <label class="label label-default">@T(LocalizableStrings.TopicTitle)</label>
                        <strong class="topic-subject">@Model.ForumTopicSubject</strong>
                    </div>
                    <div class="form-group inputs">
                        @if (Model.ForumEditor == EditorType.BBCodeEditor)
                        {
                            <script type="text/javascript" src="/Plugins/Messaging.Forums/Scripts/BBEditor/ed.js"></script>
                            <script type="text/javascript">
                                edToolbar('Text', '/Plugins/Messaging.Forums/Scripts/');
                            </script>
                        }
                        <br />
                        @Html.TextAreaFor(x => x.Text, new { @class = "form-control forum-post-text", TextMode = "MultiLine", Rows = 7 })
                        @Html.ValidationMessageFor(x => x.Text)
                    </div>
                    @if (Model.IsUserAllowedToSubscribe)
                    {
                        <div class="form-group inputs">
                            @Html.EditorFor(x => x.Subscribed)
                            <label>@T(LocalizableStrings.NotifyWhenSomeonePostsInThisTopic)</label>
                        </div>
                    }
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T(KoreWebLocalizableStrings.General.Submit)" class="btn btn-primary submit-post-button" />
                <input type="button" class="btn btn-default cancel-post-button" value="@T(KoreWebLocalizableStrings.General.Cancel)" onclick="setLocation('@Url.Action("Topic", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })')" />
            </div>
        }
    </div>
</div>