@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Data.Domain
@using Kore.Plugins.Messaging.Forums.Extensions
@using Kore.Plugins.Messaging.Forums.Models
@model EditForumTopicModel

@Html.Action("ForumBreadcrumb", new { forumId = Model.ForumId, forumTopicId = Model.Id })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T(LocalizableStrings.EditTopic)</h1>
        }
        else
        {
            <h1>@T(LocalizableStrings.NewTopic)</h1>
        }
    </div>
    <div class="page-body">
        @using (Html.BeginForm("TopicSave", "Forums"))
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div> 
            }
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ForumId)
            <div class="fieldset">
                <div class="form-fields">
                    <div class="form-group inputs">
                        <label class="label label-default">@T(LocalizableStrings.ForumName)</label>
                        <strong>@Model.ForumName</strong>
                    </div>
                    <div class="form-group inputs">
                        <label class="label label-default">@T(LocalizableStrings.TopicTitle)</label>
                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control forum-topic-title-text" })
                        @Html.ValidationMessageFor(x => x.Subject)
                    </div>
                    <div class="form-group inputs">
                        @if (Model.ForumEditor == EditorType.BBCodeEditor)
                        {
                            <script type="text/javascript" src="/Plugins/Messaging.Forums/Scripts/BBEditor/ed.js"></script>
                            <script type="text/javascript">
                                edToolbar('Text', '/Plugins/Messaging.Forums/Scripts/');
                            </script>
                        }
                        <br />
                        @Html.TextAreaFor(x => x.Text, new { @class = "form-control forum-post-text", TextMode = "MultiLine", Rows = 7 })
                        @Html.ValidationMessageFor(x => x.Text)
                    </div>
                    @if (Model.IsUserAllowedToSetTopicPriority)
                    {
                        <div class="form-group inputs">
                            <label>@T(LocalizableStrings.Priority)</label>
                            @Html.DropDownList("TopicTypeId", new SelectList(Model.TopicPriorities, "Value", "Text", Model.TopicType))
                        </div>
                    }
                    @if (Model.IsUserAllowedToSubscribe)
                    {
                        <div class="form-group inputs">
                            @Html.EditorFor(x => x.Subscribed)
                            <label>@T(LocalizableStrings.NotifyWhenSomeonePostsInThisTopic)</label>
                        </div>
                    }
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T(KoreWebLocalizableStrings.General.Submit)" class="btn btn-primary submit-topic-button" />
                <input type="button" class="btn btn-default cancel-topic-button" value="@T(KoreWebLocalizableStrings.General.Cancel)" onclick="setLocation('@Url.Action("Forum", new { id = Model.ForumId, slug = Model.ForumSeName })')" />
            </div>
        }
    </div>
</div>

