@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Data.Domain
@using Kore.Plugins.Messaging.Forums.Models
@model EditForumPostModel

@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T(LocalizableStrings.EditPost)</h1>
        }
        else
        {
            <h1>@T(LocalizableStrings.NewPost)</h1>
        }
    </div>
    <div class="page-body">
        @using (Html.BeginForm("PostSave", "Forums"))
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div> 
            }
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ForumTopicId)
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label>@T(LocalizableStrings.ForumName)</label>
                        <strong class="forum-subject">@Model.ForumName</strong>
                    </div>
                    <div class="inputs">
                        <label>@T(LocalizableStrings.TopicTitle)</label>
                        <strong class="topic-subject">@Model.ForumTopicSubject</strong>
                    </div>
                    <div class="inputs">
                        @if (Model.ForumEditor == EditorType.BBCodeEditor)
                        {
                            @Html.BBCodeEditor("Text")
                        }
                        @Html.TextAreaFor(x => x.Text, new { @class = "forum-post-text", TextMode = "MultiLine" })
                        @Html.ValidationMessageFor(x => x.Text)
                    </div>
                    @if (Model.IsUserAllowedToSubscribe)
                    {
                        <div class="inputs reversed">
                            @Html.EditorFor(x => x.Subscribed)
                            <label>@T(LocalizableStrings.NotifyWhenSomeonePostsInThisTopic)</label>
                        </div>
                    }
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T(KoreWebLocalizableStrings.General.Submit)" class="button-1 submit-post-button" />
                <input type="button" class="button-2 cancel-post-button" value="@T(KoreWebLocalizableStrings.General.Cancel)" onclick="setLocation('@Url.Action("Topic", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })')" />
            </div>
        }
    </div>
</div>