@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Models
@model TopicMoveModel

@{
    ViewBag.Title = T(LocalizableStrings.PageTitle.MoveTopic);
}

@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })
<div class="page move-topic-page">
    <div class="page-title">
        <h1>@T(LocalizableStrings.MoveTopic)</h1>
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label>@T(LocalizableStrings.SelectTheForumToMoveTopic):</label>
                        @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T(KoreWebLocalizableStrings.General.Submit)" class="button-1 submit-forum-topic-button" />
                <input type="button" class="button-2 cancel-forum-topic-button" value="@T(KoreWebLocalizableStrings.General.Cancel)" onclick="setLocation('@Url.Action("Topic", new { id = Model.Id, slug = Model.TopicSeName })')" />
            </div>
        }
    </div>
</div>
