@using Kore.Web.ContentManagement.Areas.Admin.Localization

@model LanguageSwitchBlock

<div id="block-content" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Style, new { @class = "control-label" })
            @Html.EnumDropDownListFor(m => m.Style, null, new { @class = "form-control", data_bind = "value: style" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        @*<div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.UseUrlPrefix, new { data_bind = "checked: useUrlPrefix" }) @T(KoreCmsLocalizableStrings.ContentBlocks.LanguageSwitchBlock.UseUrlPrefix)
            </label>
        </div>*@
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.IncludeInvariant, new { data_bind = "checked: includeInvariant" }) @T(KoreCmsLocalizableStrings.ContentBlocks.LanguageSwitchBlock.IncludeInvariant)
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            @Html.LabelFor(m => m.InvariantText, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.InvariantText, new { @class = "form-control", data_bind = "value: invariantText" })
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.style = ko.observable("");
            //viewModel.useUrlPrefix = ko.observable(false);
            viewModel.includeInvariant = ko.observable(false);
            viewModel.invariantText = ko.observable("[ Invariant ]");

            var data = ko.mapping.fromJSON(viewModel.blockValues());

            if (data) {
                if (data.Style) {
                    viewModel.style(data.Style());
                }
                if (data.UseUrlPrefix) {
                    viewModel.useUrlPrefix(data.UseUrlPrefix());
                }
                if (data.IncludeInvariant) {
                    viewModel.includeInvariant(data.IncludeInvariant());
                }
                if (data.InvariantText) {
                    viewModel.invariantText(data.InvariantText());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.style;
            //delete viewModel.useUrlPrefix;
            delete viewModel.includeInvariant;
            delete viewModel.invariantText;
        };
        f.onBeforeSave = function () {
            var data = {
                Style: viewModel.style(),
                //UseUrlPrefix: viewModel.useUrlPrefix(),
                IncludeInvariant: viewModel.includeInvariant(),
                InvariantText: viewModel.invariantText()
            };

            viewModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>