@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Areas.Admin.Pages.Domain
@using Kore.Web.ContentManagement.Extensions;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("knockout-mapping");
    Script.IncludeBundle("tinymce");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore-cms/pages-history");
    
    Guid pageId = (Guid)ViewBag.PageId;
}

<div id="grid-section" class="row">
    <div class="col-md-12">
        <div id="Grid"></div>
    </div>
</div>

<div id="details-section" class="row" style="display:none">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th>Page Type</th>
                <td><span data-bind="html: pageTypeId"></span></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><span data-bind="html: name"></span></td>
            </tr>
            <tr>
                <th>Slug</th>
                <td><span data-bind="html: slug"></span></td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td><span data-bind="html: isEnabled"></span></td>
            </tr>
            <tr>
                <th>Date Created (UTC)</th>
                <td><span data-bind="html: dateCreatedUtc"></span></td>
            </tr>
            <tr>
                <th>Date Modified (UTC)</th>
                <td><span data-bind="html: dateModifiedUtc"></span></td>
            </tr>
            <tr>
                <th>CultureCode</th>
                <td><span data-bind="html: cultureCode"></span></td>
            </tr>
        </tbody>
    </table>
    <p>Fields</p>
    <div id="Fields" data-bind="html: fields"></div>

    <div class="pull-right">
        <button type="button" class="btn btn-default" data-bind="click: cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
        <button type="button" class="btn btn-warning" data-bind="click: restore">@T(KoreCmsLocalizableStrings.Pages.RestoreVersion)</button>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var translations = {
            GetRecordError: '@T(KoreWebLocalizableStrings.Messages.GetRecordError).Text',
            PageHistoryRestoreError: '@T(KoreCmsLocalizableStrings.Pages.PageHistoryRestoreError).Text',
            PageHistoryRestoreSuccess: '@T(KoreCmsLocalizableStrings.Pages.PageHistoryRestoreSuccess).Text',
            View: '@T(KoreWebLocalizableStrings.General.View).Text'
        }
    </script>
}