@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Areas.Admin.Pages.Domain
@using Kore.Web.Mvc
@using Kore.Web.Mvc.KoreUI
@using CMSPage = Kore.Web.ContentManagement.Areas.Admin.Pages.Domain.Page

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@*<link type="text/css" rel="stylesheet" href="@Style.GetBundleUrl("third-party/fg-menu")" />*@

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("DefaultFrontendLayoutPath", KoreWebConstants.DefaultFrontendLayoutPath)

<div id="page-grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: pageModel.create.bind($data,null)" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: pageModel.showPageTypes" class="btn btn-info">
            <i class="kore-icon kore-icon-crop"></i>
            @T(KoreCmsLocalizableStrings.Pages.PageTypes.Title)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="PageGrid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreCmsLocalizableStrings.Pages.Page))) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @*<div id="drilldown-wrapper">
                                        <a id="drilldown" tabindex="0" href="#drilldown-items" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all">
                                            <span class="ui-icon ui-icon-triangle-1-s"></span>Parent Page
                                        </a>
                                        <div id="drilldown-items" class="hidden">
                                            <ul data-bind="template: { name: 'drilldown-template', foreach: pageModel.allPages }"></ul>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div id="form-section-pageTypeId" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("PageTypeId", T(KoreCmsLocalizableStrings.Pages.PageModel.PageTypeId), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-crop"></i>
                                    </span>
                                    @Html.KoreCMS().PageTypesDropDownList("PageTypeId", null, null, new { @class = "form-control", data_bind = "value: pageModel.pageTypeId" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Name", T(KoreCmsLocalizableStrings.Pages.PageModel.Name), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: pageModel.name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Order", T(KoreCmsLocalizableStrings.Pages.PageModel.Order), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-sort-numeric-asc"></i>
                                    </span>
                                    @Html.TextBox("Order", null, new { @class = "form-control", data_bind = "value: pageModel.order" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Roles", T(KoreCmsLocalizableStrings.Pages.PageModel.Roles), new { @class = "control-label" })
                                @Html.Kore().RolesCheckBoxList("Roles", null, new { @class = "checkbox" }, new { data_bind = "checked: pageModel.roles" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("IsEnabled", new { data_bind = "checked: pageModel.isEnabled" }) @T(KoreCmsLocalizableStrings.Pages.PageModel.IsEnabled)
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("ShowOnMenus", new { data_bind = "checked: pageModel.showOnMenus" }) @T(KoreCmsLocalizableStrings.Pages.PageModel.ShowOnMenus)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary, htmlAttributes: new { data_bind = "visible: pageModel.inEditMode()" })))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-version-form">
                    <fieldset>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Version_Title", T(KoreCmsLocalizableStrings.Pages.PageVersionModel.Title), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Version_Title", null, new { @class = "form-control", data_bind = "value: pageVersionModel.title" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Version_Slug", T(KoreCmsLocalizableStrings.Pages.PageVersionModel.Slug), new { @class = "control-label" })
                                @Html.TextBox("Version_Slug", null, new { @class = "form-control", data_bind = "value: pageVersionModel.slug" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Version_IsDraft", new { data_bind = "checked: pageVersionModel.isDraft" }) @T(KoreCmsLocalizableStrings.Pages.PageVersionModel.IsDraft)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="fields-definition"></fieldset>
                </form>
            }
        }
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-default" data-bind="click: pageModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                <button type="button" class="btn btn-primary" data-bind="click: pageModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
            </div>
        </div>
    </article>
</div>

<div id="version-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: pageVersionModel.goBack" class="btn btn-default">
            <i class="kore-icon kore-icon-arrow-left"></i>
            @T(KoreWebLocalizableStrings.General.Back)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="PageVersionGrid"></div>
    </div>
</div>

<div id="version-details-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>@T(KoreCmsLocalizableStrings.Pages.PageVersionModel.Title)</th>
                            <td><span data-bind="html: pageVersionModel.title"></span></td>
                        </tr>
                        <tr>
                            <th>@T(KoreCmsLocalizableStrings.Pages.PageVersionModel.Slug)</th>
                            <td><span data-bind="html: pageVersionModel.slug"></span></td>
                        </tr>
                        <tr>
                            <th>@T(KoreCmsLocalizableStrings.Pages.PageVersionModel.CultureCode)</th>
                            <td><span data-bind="html: pageVersionModel.cultureCode"></span></td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </article>
</div>

<div id="page-type-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: pageTypeModel.goBack" class="btn btn-default">
            <i class="kore-icon kore-icon-arrow-left"></i>
            @T(KoreWebLocalizableStrings.General.Back)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="PageTypesGrid"></div>
    </div>
</div>

<div id="page-type-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="page-type-form-section-form" role="form">
                    <fieldset>
                        <legend id="page-type-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.Label("PageType_Name", T(KoreCmsLocalizableStrings.Pages.PageTypeModel.Name), new { @class = "control-label" })
                                <p class="form-control-static" data-bind="text: pageTypeModel.name"></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("PageType_LayoutPath", T(KoreCmsLocalizableStrings.Pages.PageTypeModel.LayoutPath), new { @class = "control-label" })
                                @Html.TextBox("PageType_LayoutPath", null, new { @class = "form-control", data_bind = "value: pageTypeModel.layoutPath" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn-default" data-bind="click: pageTypeModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                            <button type="button" class="btn btn-primary" data-bind="click: pageTypeModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                        </div>
                    </div>
                </form>
            }
        }
    </article>
</div>

<div class="modal fade" id="parentPageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Parent Page</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        @Html.Hidden("PageIdToMove")
                        @Html.Label("ParentId", "Parent", new { @class = "control-label" })
                        <select id="ParentId" class="form-control">
                            <option value="" selected="selected">[Root]</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T(KoreWebLocalizableStrings.General.Close)</button>
                <button type="button" class="btn btn-primary" data-bind="click: pageModel.onParentSelected">@T(KoreWebLocalizableStrings.General.OK)</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cultureModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Language</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        @Html.Hidden("PageIdToLocalize")
                        @Html.Kore().LanguagesDropDownList("CultureCode", includeInvariant: true, htmlAttributes: new { @class = "form-control" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@T(KoreWebLocalizableStrings.General.Close)</button>
                <button type="button" class="btn btn-primary" data-bind="click: pageModel.onCultureSelected">@T(KoreWebLocalizableStrings.General.OK)</button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="pages-template">
    <div class="detail-grid" id="page-grid-#=Id#"></div>
</script>