@using StoreLocalizableStrings = Kore.Plugins.Ecommerce.Simple.LocalizableStrings
@model IEnumerable<Product>

@{
    Layout = KoreWebConstants.DefaultFrontendLayoutPath;

    Script.IncludeBundle("third-party/bootpag");

    var settings = EngineContext.Current.Resolve<StoreSettings>();
    ViewBag.Title = settings.PageTitle;

    string categorySlug = ViewBag.CategorySlug;
    int pageCount = ViewBag.PageCount;
    int pageIndex = ViewBag.PageIndex;

    int index = 1;
    int loopCount = 1;
}

@*@Html.Partial("CheckoutButton")*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    @Html.Action("Filter", "Store", new { area = string.Empty })
                    @*<div class="brands_products">
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                                <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                                <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                                <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                            </ul>
                        </div>
                    </div>*@
                    <div class="price-range">
                        <h2>Price Range</h2>
                        <div class="well">
                            <div class="slider slider-horizontal" style="width: 175px;"><div class="slider-track"><div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div><div class="slider-handle round left-round" style="left: 41.6667%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -30px; left: 69.5833px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" id="sl2" data-slider-value="[250,450]" data-slider-step="5" data-slider-max="600" data-slider-min="0" value="" class="span2" style=""></div><br>
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div>

                    <div class="shipping text-center">
                        <img alt="" src="/Themes/EShopper/Content/images/home/shipping.jpg">
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Featured Items</h2>

                    @foreach (var entry in Model)
                    {
                        if (loopCount == 1)
                        {
                            @Html.Raw(@"<div class=""row"">")
                        }

                        string imageUrl = string.IsNullOrEmpty(entry.MainImageUrl)
                            ? "http://placehold.it/280x136&text=Image+Missing"
                            : entry.MainImageUrl;

                        string price = string.Format("{0} {1:N2}", settings.Currency, entry.Price);
                            
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        @Html.ImageLink(
                                            imageUrl,
                                            entry.Name,
                                            Url.Action("Product", "Store", new { area = string.Empty, categorySlug = categorySlug, productSlug = entry.Slug }))
                                        <h2>@entry.Name</h2>
                                        <p>@price</p>
                                        <a class="btn btn-default add-to-cart" href="javascript:void(0);" onclick="addToCart(@entry.Id)">
                                            <i class="fa fa-shopping-cart"></i>
                                            @T(StoreLocalizableStrings.AddToCart)
                                        </a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@Html.ActionLink(entry.Name, "Product", "Store", new { area = string.Empty, categorySlug = categorySlug, productSlug = entry.Slug }, null)</h2>
                                            <p>@price</p>
                                            <a class="btn btn-default add-to-cart" href="javascript:void(0);" onclick="addToCart(@entry.Id)">
                                                <i class="fa fa-shopping-cart"></i>
                                                @T(StoreLocalizableStrings.AddToCart)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (loopCount == 3 || index == (Model.Count()))
                        {
                            @Html.Raw("</div>")
                            <div class="clearfix"></div>
                            loopCount = 1;
                            index++;
                            continue;
                        }

                        index++;
                        loopCount++;
                    }
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $('#pager').bootpag({
            total: @pageCount,
            page: @pageIndex,
            maxVisible: 5,
            leaps: true,
            firstLastUse: true,
        }).on("page", function (event, num) {
            window.location.href = '@Url.Action("Categories", "Store", new { area = string.Empty })' + '?pageIndex=' + num;
        });
        function addToCart(productId) {
            $.ajax({
                url: "/store/cart/add-item-to-cart",
                type: "POST",
                dataType: "json",
                data: {
                    productId: productId
                }
            })
            .done(function (json) {
                alert("Added to cart.");
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                console.log(textStatus + ': ' + errorThrown);
            });
        }
    </script>
}