@using Kore.Plugins.Widgets.Bootstrap3
@using Kore.Web.ContentManagement

@model Kore.Plugins.Widgets.Bootstrap3.ContentBlocks.Bootstrap3CarouselBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.MediaFolder, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control" })
                    @*@Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control", data_bind = "value: blockModel.mediaFolder" })*@
                    <span class="input-group-addon">
                        <a data-toggle="modal" href="javascript:void(0);" data-target="#myModal">
                            <i class="kore-icon kore-icon-search"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Interval, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.Interval, new { type = "number", @class = "form-control", data_bind = "value: blockModel.interval" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartIndex, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.StartIndex, new { type = "number", @class = "form-control", data_bind = "value: blockModel.startIndex" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBox("Keyboard", new { data_bind = "checked: blockModel.keyboard" }) @T(LocalizableStrings.ContentBlocks.CarouselBlock.Keyboard)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBox("PauseOnHover", new { data_bind = "checked: blockModel.pauseOnHover" }) @T(LocalizableStrings.ContentBlocks.CarouselBlock.PauseOnHover)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBox("Wrap", new { data_bind = "checked: blockModel.wrap" }) @T(LocalizableStrings.ContentBlocks.CarouselBlock.Wrap)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OnSlideEvent, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.OnSlideEvent, new { @class = "form-control", data_bind = "value: blockModel.onSlideEvent" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OnSlidEvent, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.OnSlidEvent, new { @class = "form-control", data_bind = "value: blockModel.onSlidEvent" })
            </div>
        </div>
    </div>

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="dismissModal();" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Folder</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/filemanager/dialog.php?rootFolder=Tenant_@WorkContext.CurrentTenant.Id&type=2&extensions=[&quot;&quot;]&relative_url=1&fldr=&field_id=MediaFolder&ignore_last_position=1" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modalDismissed = false;

    function dismissModal() {
        modalDismissed = true;
        $('#myModal').modal('hide');
    };

    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            if (!modalDismissed) {
                var url = $('#MediaFolder').val();
                var idx = url.indexOf("Uploads");
                url = url.substring(idx);
                $('#MediaFolder').val(url);
                //blockModel.mediaFolder(url);
            }
            modalDismissed = false;
        })
    });

    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function (blockModel) {
            //blockModel.mediaFolder = ko.observable("");
            blockModel.interval = ko.observable(0);
            blockModel.startIndex = ko.observable(0);
            blockModel.keyboard = ko.observable(true);
            blockModel.pauseOnHover = ko.observable(true);
            blockModel.wrap = ko.observable(true);
            blockModel.onSlideEvent = ko.observable("");
            blockModel.onSlidEvent = ko.observable("");

            var data = ko.mapping.fromJSON(blockModel.blockValues());

            if ((isFunction(data) && data()) || data) {
                if (data.MediaFolder == undefined) {
                    // If this is not set, it means the contentBlock is new and we have nothing in blockValues
                    return;
                }
                $('#MediaFolder').val(data.MediaFolder());
                //blockModel.mediaFolder(data.MediaFolder());
                blockModel.interval(data.Interval());
                blockModel.startIndex(data.StartIndex());
                blockModel.keyboard(data.Keyboard());
                blockModel.pauseOnHover(data.PauseOnHover());
                blockModel.wrap(data.Wrap());
                blockModel.onSlideEvent(data.OnSlideEvent());
                blockModel.onSlidEvent(data.OnSlidEvent());
            }
        };
        f.cleanUp = function (blockModel) {
            //delete blockModel.mediaFolder;
            delete blockModel.interval;
            delete blockModel.startIndex;
            delete blockModel.keyboard;
            delete blockModel.pauseOnHover;
            delete blockModel.wrap;
            delete blockModel.onSlideEvent;
            delete blockModel.onSlidEvent;
        };
        f.onBeforeSave = function (blockModel) {
            var data = {
                MediaFolder: $('#MediaFolder').val(),
                //MediaFolder: blockModel.mediaFolder(),
                Interval: blockModel.interval(),
                StartIndex: blockModel.startIndex(),
                Keyboard: blockModel.keyboard(),
                PauseOnHover: blockModel.pauseOnHover(),
                Wrap: blockModel.wrap(),
                OnSlideEvent: blockModel.onSlideEvent(),
                OnSlidEvent: blockModel.onSlidEvent()
            };

            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>