@using Kore.Infrastructure
@using Kore.Web.ContentManagement.Areas.Admin.Blog
@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@model Post

@{
    var settings = EngineContext.Current.Resolve<BlogSettings>();

    if (!string.IsNullOrEmpty(settings.LayoutPathOverride))
    {
        Layout = settings.LayoutPathOverride;
    }
    else
    {
        Layout = KoreWebConstants.DefaultFrontendLayoutPath;
    }

    ViewBag.Title = Model.Headline;

    SetMeta("keywords", Model.MetaKeywords);
    SetMeta("description", Model.MetaDescription);

    string previousSlug = ViewBag.PreviousEntrySlug;
    string nextSlug = ViewBag.NextEntrySlug;
    string userName = ViewBag.UserName;
}

<div class="blog-container">
    <div id="details-section" class="row blog-section">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pull-right">
                @Html.ActionLink(T(KoreWebLocalizableStrings.General.Back), "Index", "BlogContent", new { area = string.Empty }, new { @class = "btn btn-default" })
            </div>
            <h1 class="blog-headline">
                @Model.Headline
            </h1>
            <p>@Html.Raw(string.Format(T(KoreCmsLocalizableStrings.Blog.PostedByXOnX), string.Concat("<strong>", userName, "</strong>"), string.Concat("<strong>", Model.DateCreatedUtc, "</strong>")))</p>
            <p class="blog-full-desc">
                @Html.Raw(Model.FullDescription)
            </p>

            @if (!string.IsNullOrEmpty(previousSlug))
            {
                <div class="pull-left">
                    @Html.ActionLink(T(KoreWebLocalizableStrings.General.Previous), "Details", "BlogContent", new { area = string.Empty, slug = previousSlug }, new { @class = "btn btn-default" })
                </div>
            }
            @if (!string.IsNullOrEmpty(nextSlug))
            {
                <div class="pull-right">
                    @Html.ActionLink(T(KoreWebLocalizableStrings.General.Next), "Details", "BlogContent", new { area = string.Empty, slug = nextSlug }, new { @class = "btn btn-default" })
                </div>
            }
        </article>
    </div>
</div>