@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Areas.Admin.ContentBlocks.Domain
@using Kore.Web.Mvc.KoreUI

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: blockModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showZones" class="btn btn-default">
            @T(KoreCmsLocalizableStrings.ContentBlocks.Zones)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

<div id="create-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="create-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.General.Create)</legend>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Create_Title", T(KoreCmsLocalizableStrings.ContentBlocks.Model.Title), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="kore-icon kore-icon-file"></i>
                                        </span>
                                        @Html.TextBox("Create_Title", null, new { @class = "form-control", data_bind = "value: blockModel.title" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Create_BlockType", T(KoreCmsLocalizableStrings.ContentBlocks.Model.BlockType), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.KoreCMS().ContentBlockTypesDropDownList("Create_BlockType", null, null, new { @class = "form-control", data_bind = "value: blockModel.blockType" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Create_Order", T(KoreCmsLocalizableStrings.ContentBlocks.Model.Order), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.TextBox("Create_Order", null, new { @class = "form-control", data_bind = "value: blockModel.order" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Create_ZoneId", T(KoreCmsLocalizableStrings.ContentBlocks.Model.ZoneId), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.KoreCMS().ZonesDropDownList("Create_ZoneId", null, null, new { @class = "form-control", data_bind = "value: blockModel.zoneId" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <button type="button" class="btn btn-default" data-bind="click: blockModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                    <button type="button" class="btn btn-primary" data-bind="click: blockModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="edit-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="edit-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <legend>@T(KoreWebLocalizableStrings.General.Edit)</legend>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Title", T(KoreCmsLocalizableStrings.ContentBlocks.Model.Title), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="kore-icon kore-icon-file"></i>
                                        </span>
                                        @Html.TextBox("Title", null, new { @class = "form-control", data_bind = "value: blockModel.title" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("DisplayCondition", T(KoreCmsLocalizableStrings.ContentBlocks.Model.DisplayCondition), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.TextBox("DisplayCondition", null, new { @class = "form-control", data_bind = "value: blockModel.displayCondition" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("CustomTemplatePath", T(KoreCmsLocalizableStrings.ContentBlocks.Model.CustomTemplatePath), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.TextBox("CustomTemplatePath", null, new { @class = "form-control", data_bind = "value: blockModel.customTemplatePath" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Order", T(KoreCmsLocalizableStrings.ContentBlocks.Model.Order), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="kore-icon kore-icon-sort-numeric-asc"></i>
                                        </span>
                                        @Html.TextBox("Order", null, new { @class = "form-control", data_bind = "value: blockModel.order" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("ZoneId", T(KoreCmsLocalizableStrings.ContentBlocks.Model.ZoneId), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    @Html.KoreCMS().ZonesDropDownList("ZoneId", null, null, new { @class = "form-control", data_bind = "value: blockModel.zoneId" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBox("IsEnabled", new { data_bind = "checked: blockModel.isEnabled" }) @T(KoreCmsLocalizableStrings.ContentBlocks.Model.IsEnabled)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="block-details"></fieldset>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group pull-right">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-default" data-bind="click: blockModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: blockModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </article>
</div>

<div id="zones-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: zoneModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showContentBlocks" class="btn btn-default">
            <i class="kore-icon kore-icon-th-large"></i>
            @T(KoreCmsLocalizableStrings.ContentBlocks.Title)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="ZoneGrid"></div>
    </div>
</div>

<div id="zones-edit-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="zone-edit-section-form" role="form">
                    <fieldset>
                        <legend id="zone-edit-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Zone_Name", T(KoreCmsLocalizableStrings.ContentBlocks.ZoneModel.Name), new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Zone_Name", null, new { @class = "form-control", data_bind = "value: zoneModel.name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: zoneModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: zoneModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>