@using Kore.Web.ContentManagement.Areas.Admin.Pages

@model PageSettings

<div id="settings-content">
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfPageVersionsToKeep)
        @Html.TextBox("NumberOfPageVersionsToKeep", null, new { @class = "form-control", data_bind = "value: numberOfPageVersionsToKeep" })
        @Html.ValidationMessageFor(m => m.NumberOfPageVersionsToKeep)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.ShowInvariantVersionIfLocalizedUnavailable, new { data_bind = "checked: showInvariantVersionIfLocalizedUnavailable" }) @T(KoreCmsLocalizableStrings.Settings.Pages.ShowInvariantVersionIfLocalizedUnavailable)
        </label>
    </div>
</div>

<script type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.numberOfPageVersionsToKeep = ko.observable("");
        viewModel.showInvariantVersionIfLocalizedUnavailable = ko.observable(true);
        
        if (data) {
            if (data.NumberOfPageVersionsToKeep) {
                viewModel.numberOfPageVersionsToKeep(data.NumberOfPageVersionsToKeep);
            }

            if (data.ShowInvariantVersionIfLocalizedUnavailable) {
                viewModel.showInvariantVersionIfLocalizedUnavailable(data.ShowInvariantVersionIfLocalizedUnavailable);
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.numberOfPageVersionsToKeep;
        delete viewModel.showInvariantVersionIfLocalizedUnavailable;
    }

    function onBeforeSave(viewModel) {
        var data = {
            NumberOfPageVersionsToKeep: viewModel.numberOfPageVersionsToKeep(),
            ShowInvariantVersionIfLocalizedUnavailable: viewModel.showInvariantVersionIfLocalizedUnavailable()
        };

        viewModel.value(ko.mapping.toJSON(data));
    };
</script>