@model Kore.Web.ContentManagement.Areas.Admin.Pages.StandardPage

<div id="fields-content" class="col-sm-12 col-md-12">
    <div class="col-sm-12 col-md-12">
        <div class="form-group">
            @Html.Label("MetaKeywords", "Meta Keywords", new { @class = "control-label" })
            @Html.TextBox("MetaKeywords", null, new { @class = "form-control", data_bind = "value: dynamicModel.metaKeywords" })
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="form-group">
            @Html.Label("MetaDescription", "Meta Description", new { @class = "control-label" })
            @Html.TextBox("MetaDescription", null, new { @class = "form-control", data_bind = "value: dynamicModel.metaDescription" })
        </div>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="form-group">
            @Html.Label("BodyContent", "Body Content", new { @class = "control-label" })
            @Html.TextArea("BodyContent", null, new { @class = "form-control" })
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateModel() {

        viewModel.dynamicModel.metaKeywords = ko.observable("");
        viewModel.dynamicModel.metaDescription = ko.observable("");

        tinymce.init({
            selector: "#BodyContent",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: tinyMCEContentCss,
            init_instance_callback: function () {
                alert("tinymce init done");
            }
        });

        var data = ko.mapping.fromJSON(viewModel.dynamicModel.fields());

        if (data) {
            if (data.MetaKeywords) {
                viewModel.dynamicModel.metaKeywords(data.MetaKeywords());
            }
            if (data.MetaDescription) {
                viewModel.dynamicModel.metaDescription(data.MetaDescription());
            }
        }
    };

    function cleanUp() {
        delete viewModel.dynamicModel.metaKeywords;
        delete viewModel.dynamicModel.metaDescription;
        tinymce.remove('#BodyContent');
    }

    function onBeforeSave() {
        tinyMCE.triggerSave();
        var data = {
            MetaKeywords: viewModel.dynamicModel.metaKeywords(),
            MetaDescription: viewModel.dynamicModel.metaDescription(),
            BodyContent: tinyMCE.get('BodyContent').getContent()
        };
        viewModel.dynamicModel.fields(ko.mapping.toJSON(data));
    };
</script>