@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Areas.Admin.Menus.Domain
@using Kore.Web.ContentManagement.Extensions;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("knockout-mapping");
    Script.IncludeBundle("tinymce");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore-cms/menus");
}

<div id="grid-section" class="row">
    <div class="col-md-12">
        <a data-bind="click: create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        <div id="Grid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-sm-12 col-md-12">
        <form id="form-section-form" role="form">
            <fieldset>
                <legend id="form-section-legend"></legend>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Label("Name", "Name", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: name" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: save">@T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>

<div id="items-grid-section" class="row" style="display:none">
    <div class="col-md-12">
        <a onclick="viewModel.menuItem.create(viewModel.id(), null)" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a onclick="viewModel.menuItem.goBack()" class="btn btn-default">
            <i class="fa fa-arrow-left"></i>
            @T("Back")
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        <div id="ItemsGrid"></div>
    </div>
</div>

<div id="items-edit-section" class="row" style="display:none">
    <article class="col-sm-12 col-md-12">
        <form id="item-edit-section-form" role="form">
            <fieldset>
                <legend id="item-edit-section-legend"></legend>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("Item_Text", "Text", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            @Html.TextBox("Item_Text", null, new { @class = "form-control", data_bind = "value: menuItem.text" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("Item_Url", "URL", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-globe"></i>
                            </span>
                            @Html.TextBox("Item_Url", null, new { @class = "form-control", data_bind = "value: menuItem.url" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Label("Item_Description", "Description", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            @Html.TextBox("Item_Description", null, new { @class = "form-control", data_bind = "value: menuItem.description" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("Item_CssClass", "Css Class", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-font"></i>
                            </span>
                            @Html.TextBox("Item_CssClass", null, new { @class = "form-control", data_bind = "value: menuItem.cssClass" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("Item_Position", "Position", new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </span>
                            @Html.TextBox("Item_Position", null, new { @class = "form-control", data_bind = "value: menuItem.position" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("Item_Enabled", new { data_bind = "checked: menuItem.enabled" }) Enabled
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: menuItem.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: menuItem.save">@T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>

<script type="text/x-kendo-template" id="items-template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                Menu Items
            </li>
        </ul>
        <div>
            <div class="items-grid" id="items-grid-#=Id#"></div>
        </div>
    </div>
</script>

@section scripts {
    <script type="text/javascript">
        var translations = {
            Create: '@T(KoreWebLocalizableStrings.General.Create).Text',
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.Messages.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordSuccess).Text',
            Edit: '@T(KoreWebLocalizableStrings.General.Edit).Text',
            GetRecordError: '@T(KoreWebLocalizableStrings.Messages.GetRecordError).Text',
            InsertRecordError: '@T(KoreWebLocalizableStrings.Messages.InsertRecordError).Text',
            InsertRecordSuccess: '@T(KoreWebLocalizableStrings.Messages.InsertRecordSuccess).Text',
            NewItem: '@T(KoreCmsLocalizableStrings.Menus.NewItem).Text',
            Toggle: '@T(KoreWebLocalizableStrings.General.Toggle).Text',
            UpdateRecordError: '@T(KoreWebLocalizableStrings.Messages.UpdateRecordError).Text',
            UpdateRecordSuccess: '@T(KoreWebLocalizableStrings.Messages.UpdateRecordSuccess).Text'
        }
    </script>
}