@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Areas.Admin.Menus.Domain
@using Kore.Web.Mvc.KoreUI

@{
    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("knockout-mapping");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore/common");
    Script.IncludeBundle("kore/jqueryval");
    Script.IncludeBundle("kore/section-switching");
    Script.IncludeBundle("kore-cms/menus");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Name", T(KoreCmsLocalizableStrings.Menus.MenuModel.Name), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("UrlFilter", T(KoreCmsLocalizableStrings.Menus.MenuModel.UrlFilter), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-filter"></i>
                                    </span>
                                    @Html.TextBox("UrlFilter", null, new { @class = "form-control", data_bind = "value: urlFilter" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="items-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a onclick="viewModel.menuItem.create(viewModel.id(), null)" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a onclick="viewModel.menuItem.goBack()" class="btn btn-default">
            <i class="kore-icon kore-icon-arrow-left"></i>
            @T(KoreWebLocalizableStrings.General.Back)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="ItemsGrid"></div>
    </div>
</div>

<div id="items-edit-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="item-edit-section-form" role="form">
                    <fieldset>
                        <legend id="item-edit-section-legend"></legend>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Item_Text", T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Text), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Item_Text", null, new { @class = "form-control", data_bind = "value: menuItem.text" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Item_Url", T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Url), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-globe"></i>
                                    </span>
                                    @Html.TextBox("Item_Url", null, new { @class = "form-control", data_bind = "value: menuItem.url" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Item_Description", T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Description), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-file"></i>
                                    </span>
                                    @Html.TextBox("Item_Description", null, new { @class = "form-control", data_bind = "value: menuItem.description" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Item_CssClass", T(KoreCmsLocalizableStrings.Menus.MenuItemModel.CssClass), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-font"></i>
                                    </span>
                                    @Html.TextBox("Item_CssClass", null, new { @class = "form-control", data_bind = "value: menuItem.cssClass" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.Label("Item_Position", T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Position), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-sort-numeric-asc"></i>
                                    </span>
                                    @Html.TextBox("Item_Position", null, new { @class = "form-control", data_bind = "value: menuItem.position" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("Item_Enabled", new { data_bind = "checked: menuItem.enabled" }) @T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Enabled)
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: menuItem.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: menuItem.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<script type="text/x-kendo-template" id="items-template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                @T(KoreCmsLocalizableStrings.Menus.MenuItems)
            </li>
        </ul>
        <div>
            <div class="items-grid" id="items-grid-#=Id#"></div>
        </div>
    </div>
</script>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            Create: '@T(KoreWebLocalizableStrings.General.Create).Text',
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.General.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.General.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.General.DeleteRecordSuccess).Text',
            Edit: '@T(KoreWebLocalizableStrings.General.Edit).Text',
            GetRecordError: '@T(KoreWebLocalizableStrings.General.GetRecordError).Text',
            InsertRecordError: '@T(KoreWebLocalizableStrings.General.InsertRecordError).Text',
            InsertRecordSuccess: '@T(KoreWebLocalizableStrings.General.InsertRecordSuccess).Text',
            NewItem: '@T(KoreCmsLocalizableStrings.Menus.NewItem).Text',
            Toggle: '@T(KoreWebLocalizableStrings.General.Toggle).Text',
            UpdateRecordError: '@T(KoreWebLocalizableStrings.General.UpdateRecordError).Text',
            UpdateRecordSuccess: '@T(KoreWebLocalizableStrings.General.UpdateRecordSuccess).Text',

            Columns: {
                Menu: {
                    Name: '@T(KoreCmsLocalizableStrings.Menus.MenuModel.Name).Text',
                    UrlFilter: '@T(KoreCmsLocalizableStrings.Menus.MenuModel.UrlFilter).Text'
                },
                MenuItem: {
                    Text: '@T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Text).Text',
                    Url: '@T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Url).Text',
                    Position: '@T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Position).Text',
                    Enabled: '@T(KoreCmsLocalizableStrings.Menus.MenuItemModel.Enabled).Text'
                }
            }
        }
    </script>
}