@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Kore.Web.ContentManagement

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;

    Style.IncludeBundle("kendo-ui");
    Style.IncludeBundle("jquery-ui");
    Style.IncludeBundle("elfinder");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("tinymce");
    Script.IncludeBundle("notify");
    Script.IncludeBundle("jquery-ui");
    Script.IncludeBundle("elfinder");

    Script.IncludeBundle("kore/common");
    Script.IncludeBundle("kore/elfinder");
    Script.IncludeBundle("kore/jqueryval");
    Script.IncludeBundle("kore/section-switching");
    Script.IncludeBundle("kore/tinymce");
    Script.IncludeBundle("kore-cms/bootbox");
    Script.IncludeBundle("kore-cms/blog");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<style type="text/css">
    .modal-dialog {
        width: 800px !important;
        height: 480px !important;
    }
</style>

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form id="form-section-form" role="form">
            <fieldset>
                <legend id="form-section-legend"></legend>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @Html.Label("Headline", T(KoreCmsLocalizableStrings.Blog.Model.Headline), new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="kore-icon kore-icon-blog"></i>
                            </span>
                            @Html.TextBox("Headline", null, new { @class = "form-control", data_bind = "value: headline" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @Html.Label("Slug", T(KoreCmsLocalizableStrings.Blog.Model.Slug), new { @class = "control-label" })
                        @Html.TextBox("Slug", null, new { @class = "form-control", data_bind = "value: slug" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="form-group">
                        <div data-bind="if: teaserImageUrl">
                            <img data-bind="attr: { src: teaserImageUrl }" class="img-responsive img-thumbnail" />
                        </div>
                        <div data-bind="ifnot: teaserImageUrl">
                            <img src="http://placehold.it/320x240&text=Image+Missing" class="img-responsive img-thumbnail" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <div class="form-group">
                        @Html.Label("TeaserImageUrl", T(KoreCmsLocalizableStrings.Blog.Model.TeaserImageUrl), new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBox("TeaserImageUrl", null, new { @class = "form-control", data_bind = "value: teaserImageUrl" })
                            <span class="input-group-addon">
                                <a href="javascript:void(0);" onclick="elFinderBrowserBootBox();"><i class="kore-icon kore-icon-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @Html.Label("ShortDescription", T(KoreCmsLocalizableStrings.Blog.Model.ShortDescription), new { @class = "control-label" })
                        @Html.TextArea("ShortDescription", null, new { @class = "form-control", data_bind = "value: shortDescription" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("UseExternalLink", new { data_bind = "checked: useExternalLink" }) @T(KoreCmsLocalizableStrings.Blog.Model.UseExternalLink)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: useExternalLink() == true">
                    <div class="form-group">
                        @Html.Label("ExternalLink", T(KoreCmsLocalizableStrings.Blog.Model.ExternalLink), new { @class = "control-label" })
                        @Html.TextBox("ExternalLink", null, new { @class = "form-control", data_bind = "value: externalLink" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: useExternalLink() == false">
                    <div class="form-group">
                        @Html.Label("FullDescription", T(KoreCmsLocalizableStrings.Blog.Model.FullDescription), new { @class = "control-label" })
                        @Html.TextArea("FullDescription", null, new { @class = "form-control", data_bind = "wysiwyg: fullDescription, wysiwygConfig: tinyMCE_fullDescription" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            Create: '@T(KoreWebLocalizableStrings.General.Create).Text',
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.General.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.General.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.General.DeleteRecordSuccess).Text',
            Edit: '@T(KoreWebLocalizableStrings.General.Edit).Text',
            GetRecordError: '@T(KoreWebLocalizableStrings.General.GetRecordError).Text',
            InsertRecordError: '@T(KoreWebLocalizableStrings.General.InsertRecordError).Text',
            InsertRecordSuccess: '@T(KoreWebLocalizableStrings.General.InsertRecordSuccess).Text',
            UpdateRecordError: '@T(KoreWebLocalizableStrings.General.UpdateRecordError).Text',
            UpdateRecordSuccess: '@T(KoreWebLocalizableStrings.General.UpdateRecordSuccess).Text',

            Columns:{
                Headline: '@T(KoreCmsLocalizableStrings.Blog.Model.Headline).Text',
                DateCreatedUtc: '@T(KoreCmsLocalizableStrings.Blog.Model.DateCreatedUtc).Text',
            }
        }
    </script>
}