@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Kore.Web.ContentManagement
@using Kore.Web.Mvc.KoreUI

@{
    string rtlClass = string.Empty;
    string chosenRtlClass = string.Empty;
    
    if (IsRightToLeft)
    {
        rtlClass = "k-rtl";
        chosenRtlClass = "chosen-rtl";
    }
}

@Html.Hidden("TinyMCE_RootFolder", "Tenant_" + WorkContext.CurrentTenant.Id)

<link rel="stylesheet" type="text/css" href="@Style.GetBundleUrl("chosen")" />

<style type="text/css">
    .modal-dialog {
        width: 80% !important;
    }
</style>

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="post-grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: postModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showCategories" class="btn btn-info">
            <i class="kore-icon kore-icon-categories"></i>
            @T(KoreCmsLocalizableStrings.Blog.Categories)
        </a>
        <a data-bind="click: showTags" class="btn btn-success">
            <i class="kore-icon kore-icon-tags"></i>
            @T(KoreCmsLocalizableStrings.Blog.Tags)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="PostGrid"></div>
    </div>
</div>

<div id="post-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreCmsLocalizableStrings.Blog.Posts))) { }
            using (var body = panel.BeginBody())
            {
                <form id="post-form-section-form" role="form">
                    <fieldset>
                        <legend id="post-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("CategoryId", T(KoreCmsLocalizableStrings.Blog.PostModel.CategoryId), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-categories"></i>
                                    </span>
                                    @Html.KoreCMS().BlogCategoryDropDownList("CategoryId", htmlAttributes: new { @class = "form-control", data_bind = "value: postModel.categoryId" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Headline", T(KoreCmsLocalizableStrings.Blog.PostModel.Headline), new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="kore-icon kore-icon-blog"></i>
                                    </span>
                                    @Html.TextBox("Headline", null, new { @class = "form-control", data_bind = "value: postModel.headline" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Slug", T(KoreCmsLocalizableStrings.Blog.PostModel.Slug), new { @class = "control-label" })
                                @Html.TextBox("Slug", null, new { @class = "form-control", data_bind = "value: postModel.slug" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div data-bind="if: postModel.teaserImageUrl">
                                    <img data-bind="attr: { src: postModel.teaserImageUrl }" class="img-responsive img-thumbnail" />
                                </div>
                                <div data-bind="ifnot: postModel.teaserImageUrl">
                                    <img src="http://placehold.it/320x240&text=Image+Missing" class="img-responsive img-thumbnail" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <div class="form-group">
                                @Html.Label("TeaserImageUrl", T(KoreCmsLocalizableStrings.Blog.PostModel.TeaserImageUrl), new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBox("TeaserImageUrl", null, new { @class = "form-control", data_bind = "value: postModel.teaserImageUrl" })
                                    <span class="input-group-addon">
                                        <a data-toggle="modal" href="javascript:void(0);" data-target="#myModal">
                                            <i class="kore-icon kore-icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("ShortDescription", T(KoreCmsLocalizableStrings.Blog.PostModel.ShortDescription), new { @class = "control-label" })
                                @Html.TextArea("ShortDescription", null, new { @class = "form-control", data_bind = "value: postModel.shortDescription" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("UseExternalLink", new { data_bind = "checked: postModel.useExternalLink" }) @T(KoreCmsLocalizableStrings.Blog.PostModel.UseExternalLink)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: postModel.useExternalLink() == true">
                            <div class="form-group">
                                @Html.Label("ExternalLink", T(KoreCmsLocalizableStrings.Blog.PostModel.ExternalLink), new { @class = "control-label" })
                                @Html.TextBox("ExternalLink", null, new { @class = "form-control", data_bind = "value: postModel.externalLink" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="visible: postModel.useExternalLink() == false">
                            <div class="form-group">
                                @Html.Label("FullDescription", T(KoreCmsLocalizableStrings.Blog.PostModel.FullDescription), new { @class = "control-label" })
                                @Html.TextArea("FullDescription", null, new { @class = "form-control", data_bind = "wysiwyg: postModel.fullDescription, wysiwygConfig: tinyMCE_fullDescription" })
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Tags", T(KoreCmsLocalizableStrings.Blog.Tags), new { @class = "control-label" })
                                <select id="Tags"
                                        name="Tags"
                                        class="form-control @chosenRtlClass"
                                        multiple="multiple"
                                        data-bind="options: postModel.availableTags, optionsText: 'Name', optionsValue: 'Id', selectedOptions: postModel.chosenTags, chosen: {width: '100%'}">
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("MetaKeywords", T(KoreCmsLocalizableStrings.Blog.PostModel.MetaKeywords), new { @class = "control-label" })
                                @Html.TextBox("MetaKeywords", null, new { @class = "form-control", data_bind = "value: postModel.metaKeywords" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("MetaDescription", T(KoreCmsLocalizableStrings.Blog.PostModel.MetaDescription), new { @class = "control-label" })
                                @Html.TextBox("MetaDescription", null, new { @class = "form-control", data_bind = "value: postModel.metaDescription" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: postModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: postModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="category-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: categoryModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showPosts" class="btn btn-info">
            <i class="kore-icon kore-icon-edit"></i>
            @T(KoreCmsLocalizableStrings.Blog.Posts)
        </a>
        <a data-bind="click: showTags" class="btn btn-success">
            <i class="kore-icon kore-icon-tags"></i>
            @T(KoreCmsLocalizableStrings.Blog.Tags)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="CategoryGrid"></div>
    </div>
</div>

<div id="category-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreCmsLocalizableStrings.Blog.Categories))) { }
            using (var body = panel.BeginBody())
            {
                <form id="category-form-section-form" role="form">
                    <fieldset>
                        <legend id="category-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Category_Name", T(KoreCmsLocalizableStrings.Blog.CategoryModel.Name), new { @class = "control-label" })
                                @Html.TextBox("Category_Name", null, new { @class = "form-control", data_bind = "value: categoryModel.name" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Category_UrlSlug", T(KoreCmsLocalizableStrings.Blog.CategoryModel.UrlSlug), new { @class = "control-label" })
                                @Html.TextBox("Category_UrlSlug", null, new { @class = "form-control", data_bind = "value: categoryModel.urlSlug" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: categoryModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: categoryModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="tag-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: tagModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: showPosts" class="btn btn-info">
            <i class="kore-icon kore-icon-edit"></i>
            @T(KoreCmsLocalizableStrings.Blog.Posts)
        </a>
        <a data-bind="click: showCategories" class="btn btn-success">
            <i class="kore-icon kore-icon-categories"></i>
            @T(KoreCmsLocalizableStrings.Blog.Categories)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="TagGrid"></div>
    </div>
</div>

<div id="tag-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreCmsLocalizableStrings.Blog.Tags))) { }
            using (var body = panel.BeginBody())
            {
                <form id="tag-form-section-form" role="form">
                    <fieldset>
                        <legend id="tag-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Tag_Name", T(KoreCmsLocalizableStrings.Blog.CategoryModel.Name), new { @class = "control-label" })
                                @Html.TextBox("Tag_Name", null, new { @class = "form-control", data_bind = "value: tagModel.name" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Tag_UrlSlug", T(KoreCmsLocalizableStrings.Blog.CategoryModel.UrlSlug), new { @class = "control-label" })
                                @Html.TextBox("Tag_UrlSlug", null, new { @class = "form-control", data_bind = "value: tagModel.urlSlug" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: tagModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: tagModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: dismissModal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Image</h4>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?rootFolder=Tenant_@WorkContext.CurrentTenant.Id&type=1&relative_url=1&fldr=&field_id=TeaserImageUrl&ignore_last_position=1" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>