@using Kore.Plugins.Widgets.JQueryFormBuilder
@using Kore.Plugins.Widgets.JQueryFormBuilder.ContentBlocks
@model JQueryFormBuilderBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="build-wrap"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @Html.LabelFor(m => m.ThankYouMessage, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ThankYouMessage, new { @class = "form-control", data_bind = "wysiwyg: blockModel.thankYouMessage, wysiwygConfig: blockModel.tinyMCEConfig" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.RedirectUrl, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "form-control", data_bind = "value: blockModel.redirectUrl" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.UseAjax, new { data_bind = "checked: blockModel.useAjax" }) @T(LocalizableStrings.ContentBlocks.FormBuilderBlock.UseAjax)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", data_bind = "value: blockModel.emailAddress" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Plugins/Widgets.JQueryFormBuilder/Scripts/form-builder.min.js"></script>
<script type="text/javascript">
    function stripHTML(html) {
        return $("<div/>").html(html).text();
    };

    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function (blockModel) {
            blockModel.metadata = ko.observable("");
            blockModel.thankYouMessage = ko.observable("");
            blockModel.redirectUrl = ko.observable("");
            blockModel.emailAddress = ko.observable("");
            blockModel.useAjax = ko.observable(false);

            var data = ko.mapping.fromJSON(blockModel.blockValues());

            var fbEditor = document.getElementById('build-wrap');
            $(fbEditor).formBuilder();
            var formBuilder = $(fbEditor).formBuilder();

            if (data) {
                if (data.Metadata) {
                    blockModel.metadata(data.Metadata());
                    formBuilder.actions.setData(data.Metadata());
                }
                if (data.ThankYouMessage) {
                    blockModel.thankYouMessage(data.ThankYouMessage());
                }
                if (data.RedirectUrl) {
                    blockModel.redirectUrl(data.RedirectUrl());
                }
                if (data.EmailAddress) {
                    blockModel.emailAddress(data.EmailAddress());
                }
                if (data.UseAjax) {
                    blockModel.useAjax(data.UseAjax());
                }
            }

            blockModel.tinyMCEConfig = koreDefaultTinyMCEConfig;

        };
        f.cleanUp = function (blockModel) {
            delete blockModel.metadata;
            delete blockModel.thankYouMessage;
            delete blockModel.redirectUrl;
            delete blockModel.emailAddress;
            delete blockModel.useAjax;
            delete blockModel.tinyMCEConfig;
        };
        f.onBeforeSave = function (blockModel) {
            var fbEditor = document.getElementById('build-wrap');
            var formBuilder = $(fbEditor).formBuilder();
            var fbMetadata = formBuilder.actions.getData('json', true);

            console.log('source: ' + fbMetadata);
            blockModel.metadata(fbMetadata);

            var thankYouMessage = blockModel.thankYouMessage();
            if (blockModel.useAjax()) {
                thankYouMessage = stripHTML(thankYouMessage);
            }

            var data = {
                Metadata: blockModel.metadata(),
                ThankYouMessage: thankYouMessage,
                RedirectUrl: blockModel.redirectUrl(),
                EmailAddress: blockModel.emailAddress(),
                UseAjax: blockModel.useAjax()
            };

            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>