@using Kore.Infrastructure
@using Kore.Localization.Domain
@using Kore.Localization.Services
@using Kore.Web.ContentManagement.Areas.Admin.Localization
@model LanguageSwitchBlock

@{
    var languages = EngineContext.Current.Resolve<ILanguageService>().GetActiveLanguages().ToList();

    if (Model.IncludeInvariant)
    {
        if (string.IsNullOrEmpty(Model.InvariantText))
        {
            languages.Insert(0, new Language { CultureCode = null, Name = "[ Invariant ]" });
        }
        else
        {
            languages.Insert(0, new Language { CultureCode = null, Name = Model.InvariantText });
        }
    }
}

@switch (Model.Style)
{
    case LanguageSwitchBlock.LanguageSwitchStyle.BootstrapNavbarDropdown:
        {
            <li class="dropdown">
                <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Language
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    @*@if (Model.UseUrlPrefix)
                    {
                        foreach (var language in languages)
                        {
                            <li>
                                <a href="/@language.CultureCode">
                                    @if (language.CultureCode == WorkContext.CurrentCultureCode)
                                    {
                                        <span class="kore-icon kore-icon-fw kore-icon-ok"></span>
                                    }
                                    @language.Name
                                </a>
                            </li>
                        }
                    }
                    else
                    {*@
                        @foreach (var language in languages)
                        {
                            <li>
                                <a href="#" onclick="changeLanguage('@language.CultureCode');">
                                    @if (language.CultureCode == WorkContext.CurrentCultureCode)
                                    {
                                        <span class="kore-icon kore-icon-fw kore-icon-ok"></span>
                                    }
                                    @language.Name
                                </a>
                            </li>
                        }
                    @*}*@
                </ul>
            </li>
        }
        break;

    case LanguageSwitchBlock.LanguageSwitchStyle.Select:
        {
            <select onchange="changeLanguage(this.value);" autocomplete="off" class="form-control">
                @foreach (var language in languages)
                {
                    if (language.CultureCode == WorkContext.CurrentCultureCode)
                    {
                        <option value="@language.CultureCode" selected="selected">@language.Name</option>
                    }
                    else
                    {
                        <option value="@language.CultureCode">@language.Name</option>
                    }
                }
            </select>
        }
        break;
    case LanguageSwitchBlock.LanguageSwitchStyle.List:
        <ul>
            @foreach (var language in languages)
            {
                <li class="lang-@language.CultureCode">
                    @*@if (Model.UseUrlPrefix)
                    {
                        <a href="/@language.CultureCode">@language.Name</a>
                    }
                    else
                    {*@
                        <a href="javascript:void(0)" onclick="changeLanguage('@language.CultureCode');">@language.Name</a>
                    @*}*@
                </li>
            }
        </ul>
            break;
}

<script type="text/javascript">
    function changeLanguage(cultureCode) {
        document.cookie = 'CurrentCulture=' + cultureCode + '; path=/';
        window.location.reload();
    }
    @*@if (Model.UseUrlPrefix)
    {
        <text>
        function changeLanguage(cultureCode) {
            window.location = cultureCode;
        }
        </text>
    }
    else
    {
        <text>
        function changeLanguage(cultureCode) {
            document.cookie = 'CurrentCulture=' + cultureCode + '; path=/';
            window.location.reload();
        }
        </text>
    }*@
</script>