@using Kore.Infrastructure
@using Kore.Web.ContentManagement.Areas.Admin.Localization
@using Kore.Web.ContentManagement.Areas.Admin.Localization.Services
@model LanguageSwitchWidget

@{
    var languages = EngineContext.Current.Resolve<ILanguageService>().GetActiveLanguages();
}

<div class="language-switch language-switch-@Model.Style.ToString().ToLowerInvariant()">
    @switch (Model.Style)
    {
        case LanguageSwitchWidget.LanguageSwitchStyle.Select:
            {
                if (!string.IsNullOrEmpty(Model.MessageText))
                {
                    @Html.Raw("<div class=\"input-prepend\">");
                    <span class="add-on">@Model.MessageText</span>
                }

                if (Model.UseUrlPrefix)
                {
                    <select onchange="window.location = this.value;" autocomplete="off">
                        @foreach (var language in languages)
                        {
                            if (language.CultureCode == WorkContext.CurrentCultureCode)
                            {
                                <option value="/@language.UniqueSeoCode" selected="selected">@language.Name</option>
                            }
                            else
                            {
                                <option value="/@language.UniqueSeoCode">@language.Name</option>
                            }
                        }
                    </select>
                }
                else
                {
                    <select onchange="document.cookie = 'CurrentCulture=' + this.value + '; path=/'; window.location.reload();" autocomplete="off">
                        @foreach (var language in languages)
                        {
                            if (language.CultureCode == WorkContext.CurrentCultureCode)
                            {
                                <option value="/@language.CultureCode" selected="selected">@language.Name</option>
                            }
                            else
                            {
                                <option value="/@language.CultureCode">@language.Name</option>
                            }
                        }
                    </select>
                }

                if (!string.IsNullOrEmpty(Model.MessageText))
                {
                    @Html.Raw("</div>");
                }
            }
            break;
        case LanguageSwitchWidget.LanguageSwitchStyle.List:
            <ul>
                @foreach (var language in languages)
                {
                    <li class="@language.CultureCode">
                        @if (Model.UseUrlPrefix)
                        {
                            <a href="/@language.UniqueSeoCode">@language.Name</a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="document.cookie = 'CurrentCulture=@language.CultureCode; path=/'; window.location.reload();">@language.Name</a>
                        }
                    </li>
                }
            </ul>
            break;
    }
</div>