@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Extensions
@using Kore.Web.Mvc.KoreUI

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="forum-group-grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: forumGroupModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="ForumGroupGrid"></div>
    </div>
</div>

<div id="forum-group-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="forum-group-form-section-form" role="form">
                    <fieldset>
                        <legend id="forum-group-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Name", T(KoreWebLocalizableStrings.General.Name), new { @class = "control-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: forumGroupModel.name" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("DisplayOrder", T(KoreWebLocalizableStrings.General.Order), new { @class = "control-label" })
                                @Html.TextBox("DisplayOrder", null, new { @class = "form-control", data_bind = "value: forumGroupModel.displayOrder" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: forumGroupModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: forumGroupModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="forum-grid-section" class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: forumModel.create" class="btn btn-primary">
            <i class="kore-icon kore-icon-add"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: forumModel.goBack" class="btn btn-default">
            <i class="kore-icon kore-icon-arrow-left"></i>
            @T(KoreWebLocalizableStrings.General.Back)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="ForumGrid"></div>
    </div>
</div>

<div id="forum-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T(KoreWebLocalizableStrings.General.Details))) { }
            using (var body = panel.BeginBody())
            {
                <form id="forum-form-section-form" role="form">
                    <fieldset>
                        <legend id="forum-form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Name", T(KoreWebLocalizableStrings.General.Name), new { @class = "control-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: forumModel.name" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Description", T(KoreWebLocalizableStrings.General.Description), new { @class = "control-label" })
                                @Html.TextArea("Description", null, new { @class = "form-control", data_bind = "value: forumModel.description" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("DisplayOrder", T(KoreWebLocalizableStrings.General.Order), new { @class = "control-label" })
                                @Html.TextBox("DisplayOrder", null, new { @class = "form-control", data_bind = "value: forumModel.displayOrder" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: forumModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                                <button type="button" class="btn btn-primary" data-bind="click: forumModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>