@using Kore.Plugins.Ecommerce.Simple.Models
@model PayPalModel

@{
    Layout = KoreWebConstants.DefaultFrontendLayoutPath;
}

<form id="payment-form" action="@Model.ActionUrl" method="post">
    @if (Model.PassProductNamesAndTotals)
    {
        @Html.Hidden("cmd", "_cart")
        @Html.Hidden("upload", "1")
    }
    else
    {
        @Html.Hidden("cmd", "_xclick")
    }

    @if (Model.UseSandboxMode)
    {
        @Html.Hidden("env", "www.sandbox")
    }
    
    @Html.Hidden("business", Model.Merchant)
    @Html.Hidden("currency_code", Model.CurrencyCode)
    @Html.Hidden("return", Model.ReturnUrl)
    @Html.Hidden("cancel_return", Model.CancelReturnUrl)
    @Html.Hidden("notify_url", Model.NotificationUrl)

    @if (Model.PassProductNamesAndTotals)
    {
        int i = 1;
        foreach(var item in Model.Items)
        {
            @Html.Hidden("item_name_" + i, item.ProductName)
            @Html.Hidden("amount_" + i, Math.Round(item.Price))
            @Html.Hidden("quantity_" + i, item.Quantity)
            i++;
        }
        @Html.Hidden("item_name_" + i, "Shipping Fee")
        @Html.Hidden("amount_" + i, Math.Round(Model.ShippingFee, 2))
        @Html.Hidden("quantity_" + i, 1)
        i++;
            
        @Html.Hidden("item_name_" + i, "Sales Tax")
        @Html.Hidden("amount_" + i, Math.Round(Model.SalesTax, 2))
        @Html.Hidden("quantity_" + i, 1)
    }
    else
    {
        @Html.Hidden("item_name" , "Order Number " + Model.OrderId)
        @Html.Hidden("amount", Math.Round(Model.OrderTotal, 2))
    }

    @Html.Hidden("rm", "2")
    @Html.Hidden("charset", "utf-8")
    @Html.Hidden("invoice", Model.OrderId)

    @Html.Hidden("first_name", Model.BillingAddress.GivenNames)
    @Html.Hidden("last_name", Model.BillingAddress.FamilyName)
    @Html.Hidden("address1", Model.BillingAddress.AddressLine1)
    @Html.Hidden("address2", Model.BillingAddress.AddressLine2)
    @Html.Hidden("city", Model.BillingAddress.City)
    @Html.Hidden("country", "")
    @Html.Hidden("zip", Model.BillingAddress.PostalCode)
    @Html.Hidden("email", Model.BillingAddress.Email)
</form>

<p>Connecting to PayPal, please wait...</p>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form#payment-form').submit();
        });
    </script>
}