@using Kore.Plugins.Ecommerce.Simple.Models
@model PayPalModel

@{
    Layout = KoreWebConstants.DefaultFrontendLayoutPath;
}

<form id="payment-form" action="@Model.ActionUrl" method="post">
    @Html.Hidden("cmd", "_cart")
    @Html.Hidden("upload", "1")
    @Html.Hidden("business", Model.Merchant)
    @Html.Hidden("currency_code", Model.CurrencyCode)
    @*@Html.Hidden("item_number", Model.ProductId)
    @Html.Hidden("item_name", Model.ProductName)
    @Html.Hidden("amount", Model.Amount)*@
    @Html.Hidden("return", Model.PaymentCompletedUrl)
    @Html.Hidden("cancel_return", Model.PaymentCancelledUrl)
    @Html.Hidden("notify_url", Model.PaymentNotificationUrl)

    @for (int i = 1; i <= Model.Items.Count(); i++)
    {
        var item = Model.Items.ElementAt(i);
        @Html.Hidden("item_name_" + i, item.ProductName)
        @Html.Hidden("amount_" + i, item.Price)
    }

    @if (Model.UseSandboxMode)
    {
        @Html.Hidden("env", "www.sandbox")
    }
</form>

<p>Connecting to PayPal, please wait...</p>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form#payment-form').submit();
        });
    </script>
}