@using Kore.Collections.Generic
@using Kore.Infrastructure
@using Kore.Web.Configuration
@using Kore.Web.Indexing

@model PagedList<ISearchHit>

@{
    var siteSettings = EngineContext.Current.Resolve<KoreSiteSettings>();
    Layout = siteSettings.DefaultFrontendLayoutPath;
    string q = ViewBag.Query;
}

<div class="search-results">
    <div class="result-stats">
        @if (Model.ItemCount == 0)
        {
            @:Your search - <strong>@q</strong> - did not match any documents.
        }
        else
        {
            @:Your search - <strong>@q</strong> - resulted in @Model.ItemCount documents.
            <ul class="thumbnails search-results">
                @foreach (var hit in Model)
                {
                    string desc = hit.GetString("description") ?? hit.GetString("body");
                    
                    <li class="search-result">
                        <a href="@hit.GetString("url")">@hit.GetString("title")</a>
                        <div class="description">@desc</div>
                    </li>
                }
            </ul>
        }
    </div>
</div>