@using Kore.Collections.Generic
@using Kore.Infrastructure
@using Kore.Web
@using Kore.Web.Configuration
@using Kore.Web.Indexing

@model PagedList<ISearchHit>

@{
    Layout = SiteSettings.DefaultFrontendLayoutPath;
    string q = ViewBag.Query;
}

<div class="search-results">
    <div class="result-stats">
        @if (Model.ItemCount == 0)
        {
            @Html.Raw(string.Format(T(KoreWebLocalizableStrings.Indexing.SearchMatchedNoDocuments), q))
        }
        else
        {
            @Html.Raw(string.Format(T(KoreWebLocalizableStrings.Indexing.SearchMatchedNDocuments), q, Model.ItemCount))
            <ul class="thumbnails search-results">
                @foreach (var hit in Model)
                {
                    string desc = hit.GetString("description") ?? hit.GetString("body");
                    
                    <li class="search-result">
                        <a href="@hit.GetString("url")">@hit.GetString("title")</a>
                        <div class="description">@desc</div>
                    </li>
                }
            </ul>
        }
    </div>
</div>