@using Kore.Infrastructure
@using Kore.Web.ContentManagement.Areas.Admin.Blog
@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@model IEnumerable<Post>

@{
    if (string.IsNullOrEmpty(SiteSettings.DefaultFrontendLayoutPath))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = SiteSettings.DefaultFrontendLayoutPath;
    }

    Script.IncludeBundle("kore-cms/bootpag");

    var settings = EngineContext.Current.Resolve<BlogSettings>();
    ViewBag.Title = settings.PageTitle;

    var userNames = (IDictionary<string, string>)ViewBag.UserNames;
    int pageCount = ViewBag.PageCount;
    int pageIndex = ViewBag.PageIndex;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Blog</h2>
                    @foreach (var entry in Model)
                    {
                        string teaserImageUrl = string.IsNullOrEmpty(entry.TeaserImageUrl)
                            ? "http://placehold.it/280x136&text=Image+Missing"
                            : entry.TeaserImageUrl;
                        
                        <div class="single-blog-post">
                            <h3>@entry.Headline</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i> @userNames[entry.UserId]</li>
                                    <li><i class="fa fa-clock-o"></i> @entry.DateCreatedUtc.ToShortTimeString()</li>
                                    <li><i class="fa fa-calendar"></i> @entry.DateCreatedUtc.ToShortDateString()</li>
                                </ul>
                                @*<span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </span>*@
                            </div>
                            <a href="">
                                <img alt="@entry.Headline" src="@teaserImageUrl" style="max-height:300px">
                            </a>
                            <p>@entry.ShortDescription</p>

                            @if (entry.UseExternalLink)
                            {
                                @Html.Link("Read More", entry.ExternalLink, new { @class = "btn btn-primary" }, PageTarget.Blank)
                            }
                            else
                            {
                                @Html.ActionLink("Read More", "Details", "BlogContent", new { area = string.Empty, slug = entry.Slug }, new { @class = "btn btn-primary" })
                            }
                        </div>
                    }
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="pager" class="pagination-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $('#pager').bootpag({
            total: @pageCount,
            page: @pageIndex,
            maxVisible: 20,
            leaps: true,
            firstLastUse: true,
        }).on("page", function (event, num) {
            window.location.href = '@Url.Action("Index", "BlogContent", new { area = string.Empty })' + '?pageIndex=' + num;
        });
    </script>
}