@using Kore.Plugins.Widgets.Google
@using Kore.Plugins.Widgets.Google.Data.Domain
@using Kore.Plugins.Widgets.Google.Extensions
@model IEnumerable<GoogleSitemapPageConfig>

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;

    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("knockout-mapping");
    Script.IncludeBundle("notify");

    Script.IncludePluginScript("index.js");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<div id="grid-section" class="row">
    <div class="col-md-12">
        <a onclick="generateFile()" href="javascript:void(0)" class="btn btn-success">
            <i class="kore-icon kore-icon-save"></i>
            @T(LocalizableStrings.GenerateFile)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            ConfirmGenerateFile: '@T(LocalizableStrings.ConfirmGenerateFile).Text',
            GenerateFileSuccess: '@T(LocalizableStrings.GenerateFileSuccess).Text',
            GenerateFileError: '@T(LocalizableStrings.GenerateFileError).Text',

            ChangeFrequencies: {
                Always: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Always).Text',
                Hourly: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Hourly).Text',
                Daily: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Daily).Text',
                Weekly: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Weekly).Text',
                Monthly: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Monthly).Text',
                Yearly: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Yearly).Text',
                Never: '@T(LocalizableStrings.SitemapModel.ChangeFrequencies.Never).Text',
            },

            Columns: {
                ChangeFrequency: '@T(LocalizableStrings.SitemapModel.ChangeFrequency).Text',
                Id: '@T(LocalizableStrings.SitemapModel.Id).Text',
                Location: '@T(LocalizableStrings.SitemapModel.Location).Text',
                Priority: '@T(LocalizableStrings.SitemapModel.Priority).Text',
            }
        }
    </script>
}