@using Kore.Infrastructure
@using Kore.Plugins.Widgets.RevolutionSlider.Data.Domain
@using Kore.Plugins.Widgets.RevolutionSlider.Extensions
@using Kore.Plugins.Widgets.RevolutionSlider.ContentBlocks
@using Kore.Plugins.Widgets.RevolutionSlider.Services
@using Kore.Web.ContentManagement.Areas.Admin.Media.Services
@using Kore.Web.Mvc.Html

@model RevolutionSliderBlock

@{
    Style.IncludePluginStyle("css/settings.css");
    Script.IncludePluginScript("jquery.themepunch.tools.min.js");
    Script.IncludePluginScript("jquery.themepunch.revolution.min.js");

    var slideService = EngineContext.Current.Resolve<ISlideService>();
    var layerService = EngineContext.Current.Resolve<ILayerService>();
    
    var slides = slideService
        .Query(x => x.SliderId == Model.SliderId)
        .ToList();
        
    var slideIds = slides.Select(x => x.Id);

    var layers = layerService
        .Query(x => slideIds.Contains(x.SlideId))
        .GroupBy(x => x.SlideId)
        .ToDictionary(x => x.Key, v => v.ToList());

    var script = Model.ToHtmlString();

    bool isFullScreen = Model.FullWidth || Model.ForceFullWidth || Model.FullScreen;
}

<div class="bannercontainer">
    <div id="@Model.ControlId" class="banner">
        <ul>
            @foreach (RevolutionSlide slide in slides)
            {
                @Html.Raw(slide.ToHtmlString()) @* <li> *@
                    @Html.Raw(slide.ImageToHtmlString()) @* <img> *@
                
                    if (layers.ContainsKey(slide.Id))
                    {
                        var currentLayers = layers[slide.Id];
                        if (!currentLayers.IsNullOrEmpty())
                        {
                            foreach (RevolutionLayer layer in currentLayers)
                            {
                                @Html.Raw(layer.ToHtmlString(isFullScreen))
                            }
                        }
                    }
                @Html.Raw("</li>")
            }
        </ul>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            @script
        });
    </script>
}