@using Kore.Web
@model Kore.Indexing.Lucene.LuceneSearchBlock

@if (Model.RenderAsBootstrapNavbarForm)
{
    <form class="navbar-form navbar-left" role="search" method="get" action="@Url.Action("Search", "Search", new { area = string.Empty })">
        <div class="form-group">
            <input type="text" class="form-control" name="q" value="" placeholder="@T(KoreWebLocalizableStrings.General.Search)" />
        </div>
        <button type="submit" class="btn btn-default">@T(KoreWebLocalizableStrings.General.Search)</button>
    </form>
}
else
{
    <form class="form-search" role="search" method="get" action="@Url.Action("Search", "Search", new { area = string.Empty })">
        <i class="kore-icon kore-icon-search"></i>
        <input type="text" class="form-control" name="q" value="" placeholder="@T(KoreWebLocalizableStrings.General.Search)" />
        <button type="submit" class="btn btn-default">@T(KoreWebLocalizableStrings.General.Search)</button>
    </form>
}