@using Kore.Plugins.Widgets.OwlCarousel
@using Kore.Web.ContentManagement
@using Kore.Plugins.Widgets.OwlCarousel.ContentBlocks

@model OwlCarouselBlock

<div id="block-content">
    @using (var tabs = Html.KoreUI().Begin(new Kore.Web.Mvc.KoreUI.Tabs()))
    {
        tabs.Tab(T(LocalizableStrings.OwlCarouselBlock.EditorTabs.General), "tab-general");
        tabs.Tab(T(LocalizableStrings.OwlCarouselBlock.EditorTabs.ItemOptions), "tab-item-options");
        tabs.Tab(T(LocalizableStrings.OwlCarouselBlock.EditorTabs.Advanced), "tab-advanced");
        tabs.Tab(T(LocalizableStrings.OwlCarouselBlock.EditorTabs.Callbacks), "tab-callbacks");

        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.MediaFolder, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control", data_bind = "value: blockModel.mediaFolder" })
                            <span class="input-group-addon">
                                <a data-toggle="modal" href="javascript:void(0);" data-target="#myModal">
                                    <i class="kore-icon kore-icon-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ControlId, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ControlId, new { @class = "form-control", data_bind = "value: blockModel.controlId" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SlideSpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.SlideSpeed, new { @class = "form-control", data_bind = "value: blockModel.slideSpeed" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PaginationSpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.PaginationSpeed, new { @class = "form-control", data_bind = "value: blockModel.paginationSpeed" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RewindSpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.RewindSpeed, new { @class = "form-control", data_bind = "value: blockModel.rewindSpeed" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.AutoPlay, new { data_bind = "checked: blockModel.autoPlay" }) @T(LocalizableStrings.OwlCarouselBlock.AutoPlay)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.StopOnHover, new { data_bind = "checked: blockModel.stopOnHover" }) @T(LocalizableStrings.OwlCarouselBlock.StopOnHover)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Navigation, new { data_bind = "checked: blockModel.navigation" }) @T(LocalizableStrings.OwlCarouselBlock.Navigation)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RewindNav, new { data_bind = "checked: blockModel.rewindNav" }) @T(LocalizableStrings.OwlCarouselBlock.RewindNav)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.ScrollPerPage, new { data_bind = "checked: blockModel.scrollPerPage" }) @T(LocalizableStrings.OwlCarouselBlock.ScrollPerPage)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Pagination, new { data_bind = "checked: blockModel.pagination" }) @T(LocalizableStrings.OwlCarouselBlock.Pagination)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.PaginationNumbers, new { data_bind = "checked: blockModel.paginationNumbers" }) @T(LocalizableStrings.OwlCarouselBlock.PaginationNumbers)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Responsive, new { data_bind = "checked: blockModel.responsive" }) @T(LocalizableStrings.OwlCarouselBlock.Responsive)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.AutoPlaySpeed, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.AutoPlaySpeed, new { @class = "form-control", data_bind = "value: blockModel.autoPlaySpeed" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NavigationText, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.NavigationText, new { @class = "form-control", data_bind = "value: blockModel.navigationText" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ResponsiveRefreshRate, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ResponsiveRefreshRate, new { @class = "form-control", data_bind = "value: blockModel.responsiveRefreshRate" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ResponsiveBaseWidth, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ResponsiveBaseWidth, new { @class = "form-control", data_bind = "value: blockModel.responsiveBaseWidth" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BaseClass, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.BaseClass, new { @class = "form-control", data_bind = "value: blockModel.baseClass" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Theme, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Theme, new { @class = "form-control", data_bind = "value: blockModel.theme" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.LazyLoad, new { data_bind = "checked: blockModel.lazyLoad" }) @T(LocalizableStrings.OwlCarouselBlock.LazyLoad)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.AutoHeight, new { data_bind = "checked: blockModel.autoHeight" }) @T(LocalizableStrings.OwlCarouselBlock.AutoHeight)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.MouseDrag, new { data_bind = "checked: blockModel.mouseDrag" }) @T(LocalizableStrings.OwlCarouselBlock.MouseDrag)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.TouchDrag, new { data_bind = "checked: blockModel.touchDrag" }) @T(LocalizableStrings.OwlCarouselBlock.TouchDrag)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Items, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.Items, new { @class = "form-control", data_bind = "value: blockModel.items" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsDesktop, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsDesktop, new { @class = "form-control", data_bind = "value: blockModel.itemsDesktop" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsDesktopSmall, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsDesktopSmall, new { @class = "form-control", data_bind = "value: blockModel.itemsDesktopSmall" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsTablet, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsTablet, new { @class = "form-control", data_bind = "value: blockModel.itemsTablet" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsTabletSmall, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsTabletSmall, new { @class = "form-control", data_bind = "value: blockModel.itemsTabletSmall" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsMobile, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsMobile, new { @class = "form-control", data_bind = "value: blockModel.itemsMobile" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsCustom, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.ItemsCustom, new { @class = "form-control", data_bind = "value: blockModel.itemsCustom" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.SingleItem, new { data_bind = "checked: blockModel.singleItem" }) @T(LocalizableStrings.OwlCarouselBlock.SingleItem)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.ItemsScaleUp, new { data_bind = "checked: blockModel.itemsScaleUp" }) @T(LocalizableStrings.OwlCarouselBlock.ItemsScaleUp)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.LazyFollow, new { data_bind = "checked: blockModel.lazyFollow" }) @T(LocalizableStrings.OwlCarouselBlock.LazyFollow)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.DragBeforeAnimFinish, new { data_bind = "checked: blockModel.dragBeforeAnimFinish" }) @T(LocalizableStrings.OwlCarouselBlock.DragBeforeAnimFinish)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.AddClassActive, new { data_bind = "checked: blockModel.addClassActive" }) @T(LocalizableStrings.OwlCarouselBlock.AddClassActive)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.JsonPath, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.JsonPath, new { @class = "form-control", data_bind = "value: blockModel.jsonPath" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.JsonSuccess, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.JsonSuccess, new { @class = "form-control", data_bind = "value: blockModel.jsonSuccess" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.LazyEffect, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.LazyEffect, new { @class = "form-control", data_bind = "value: blockModel.lazyEffect" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TransitionStyle, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextBoxFor(m => m.TransitionStyle, new { @class = "form-control", data_bind = "value: blockModel.transitionStyle" })
                    </div>
                </div>
            </div>
        }

        using (var tab = tabs.BeginPanel())
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.BeforeUpdate, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.BeforeUpdate, new { @class = "form-control", data_bind = "value: blockModel." })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AfterUpdate, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.AfterUpdate, new { @class = "form-control", data_bind = "value: blockModel.afterUpdate" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BeforeInit, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.BeforeInit, new { @class = "form-control", data_bind = "value: blockModel.beforeInit" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AfterInit, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.AfterInit, new { @class = "form-control", data_bind = "value: blockModel.afterInit" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BeforeMove, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.BeforeMove, new { @class = "form-control", data_bind = "value: blockModel.beforeMove" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.AfterMove, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.AfterMove, new { @class = "form-control", data_bind = "value: blockModel.afterMove" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AfterAction, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.AfterAction, new { @class = "form-control", data_bind = "value: blockModel.afterAction" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDragging, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.StartDragging, new { @class = "form-control", data_bind = "value: blockModel.startDragging" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AfterLazyLoad, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        @Html.TextAreaFor(m => m.AfterLazyLoad, new { @class = "form-control", data_bind = "value: blockModel.afterLazyLoad" })
                    </div>
                </div>
            </div>
        }
    }

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="dismissModal();" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Image</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/filemanager/dialog.php?type=1&fldr=&relative_url=1&field_id=MediaFolder&ignore_last_position=1" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modalDismissed = false;

    function dismissModal() {
        modalDismissed = true;
        $('#myModal').modal('hide');
    };

    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            if (!modalDismissed) {
                var url = $('#MediaFolder').val();
                var idx = url.indexOf("Uploads");
                url = url.substring(idx);
                viewModel.blockModel.mediaFolder(url);
            }
            modalDismissed = false;
        })
    });

    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.blockModel.mediaFolder = ko.observable("");
            viewModel.blockModel.controlId = ko.observable("owl-carousel");
            viewModel.blockModel.slideSpeed = ko.observable(200);
            viewModel.blockModel.paginationSpeed = ko.observable(800);
            viewModel.blockModel.rewindSpeed = ko.observable(1000);
            viewModel.blockModel.autoPlay = ko.observable(false);
            viewModel.blockModel.autoPlaySpeed = ko.observable(5000);
            viewModel.blockModel.stopOnHover = ko.observable(false);
            viewModel.blockModel.navigation = ko.observable(false);
            viewModel.blockModel.navigationText = ko.observable('["prev","next"]');
            viewModel.blockModel.rewindNav = ko.observable(true);
            viewModel.blockModel.scrollPerPage = ko.observable(false);
            viewModel.blockModel.pagination = ko.observable(true);
            viewModel.blockModel.paginationNumbers = ko.observable(false);
            viewModel.blockModel.responsive = ko.observable(true);
            viewModel.blockModel.responsiveRefreshRate = ko.observable(200);
            viewModel.blockModel.responsiveBaseWidth = ko.observable('window');
            viewModel.blockModel.baseClass = ko.observable('owl-carousel');
            viewModel.blockModel.theme = ko.observable('owl-theme');
            viewModel.blockModel.lazyLoad = ko.observable(false);
            viewModel.blockModel.autoHeight = ko.observable(false);
            viewModel.blockModel.mouseDrag = ko.observable(true);
            viewModel.blockModel.touchDrag = ko.observable(true);
            viewModel.blockModel.items = ko.observable(5);
            viewModel.blockModel.itemsDesktop = ko.observable('[1199,4]');
            viewModel.blockModel.itemsDesktopSmall = ko.observable('[979,3]');
            viewModel.blockModel.itemsTablet = ko.observable('[768,2]');
            viewModel.blockModel.itemsTabletSmall = ko.observable(null);
            viewModel.blockModel.itemsMobile = ko.observable('[479,1]');
            viewModel.blockModel.itemsCustom = ko.observable(null);
            viewModel.blockModel.singleItem = ko.observable(false);
            viewModel.blockModel.itemsScaleUp = ko.observable(false);
            viewModel.blockModel.jsonPath = ko.observable(null);
            viewModel.blockModel.jsonSuccess = ko.observable(null);
            viewModel.blockModel.lazyFollow = ko.observable(true);
            viewModel.blockModel.lazyEffect = ko.observable('fade');
            viewModel.blockModel.dragBeforeAnimFinish = ko.observable(true);
            viewModel.blockModel.addClassActive = ko.observable(false);
            viewModel.blockModel.transitionStyle = ko.observable(null);
            viewModel.blockModel.beforeUpdate = ko.observable(null);
            viewModel.blockModel.afterUpdate = ko.observable(null);
            viewModel.blockModel.beforeInit = ko.observable(null);
            viewModel.blockModel.afterInit = ko.observable(null);
            viewModel.blockModel.beforeMove = ko.observable(null);
            viewModel.blockModel.afterMove = ko.observable(null);
            viewModel.blockModel.afterAction = ko.observable(null);
            viewModel.blockModel.startDragging = ko.observable(null);
            viewModel.blockModel.afterLazyLoad = ko.observable(null);

            var data = ko.mapping.fromJSON(viewModel.blockModel.blockValues());

            if ((isFunction(data) && data()) || data) {
                if (data.MediaFolder == undefined) {
                    // If this is not set, it means the contentBlock is new and we have nothing in blockValues
                    return;
                }
                viewModel.blockModel.mediaFolder(data.MediaFolder());
                viewModel.blockModel.controlId(data.ControlId());
                viewModel.blockModel.slideSpeed(data.SlideSpeed());
                viewModel.blockModel.paginationSpeed(data.PaginationSpeed());
                viewModel.blockModel.rewindSpeed(data.RewindSpeed());
                viewModel.blockModel.autoPlay(data.AutoPlay());
                viewModel.blockModel.autoPlaySpeed(data.AutoPlaySpeed());
                viewModel.blockModel.stopOnHover(data.StopOnHover());
                viewModel.blockModel.navigation(data.Navigation());
                viewModel.blockModel.navigationText(data.NavigationText());
                viewModel.blockModel.rewindNav(data.RewindNav());
                viewModel.blockModel.scrollPerPage(data.ScrollPerPage());
                viewModel.blockModel.pagination(data.Pagination());
                viewModel.blockModel.paginationNumbers(data.PaginationNumbers());
                viewModel.blockModel.responsive(data.Responsive());
                viewModel.blockModel.responsiveRefreshRate(data.ResponsiveRefreshRate());
                viewModel.blockModel.responsiveBaseWidth(data.ResponsiveBaseWidth());
                viewModel.blockModel.baseClass(data.BaseClass());
                viewModel.blockModel.theme(data.Theme());
                viewModel.blockModel.lazyLoad(data.LazyLoad());
                viewModel.blockModel.autoHeight(data.AutoHeight());
                viewModel.blockModel.mouseDrag(data.MouseDrag());
                viewModel.blockModel.touchDrag(data.TouchDrag());
                viewModel.blockModel.items(data.Items());
                viewModel.blockModel.itemsDesktop(data.ItemsDesktop());
                viewModel.blockModel.itemsDesktopSmall(data.ItemsDesktopSmall());
                viewModel.blockModel.itemsTablet(data.ItemsTablet());
                viewModel.blockModel.itemsTabletSmall(data.ItemsTabletSmall());
                viewModel.blockModel.itemsMobile(data.ItemsMobile());
                viewModel.blockModel.itemsCustom(data.ItemsCustom());
                viewModel.blockModel.singleItem(data.SingleItem());
                viewModel.blockModel.itemsScaleUp(data.ItemsScaleUp());
                viewModel.blockModel.jsonPath(data.JsonPath());
                viewModel.blockModel.jsonSuccess(data.JsonSuccess());
                viewModel.blockModel.lazyFollow(data.LazyFollow());
                viewModel.blockModel.lazyEffect(data.LazyEffect());
                viewModel.blockModel.dragBeforeAnimFinish(data.DragBeforeAnimFinish());
                viewModel.blockModel.addClassActive(data.AddClassActive());
                viewModel.blockModel.transitionStyle(data.TransitionStyle());
                viewModel.blockModel.beforeUpdate(data.BeforeUpdate());
                viewModel.blockModel.afterUpdate(data.AfterUpdate());
                viewModel.blockModel.beforeInit(data.BeforeInit());
                viewModel.blockModel.afterInit(data.AfterInit());
                viewModel.blockModel.beforeMove(data.BeforeMove());
                viewModel.blockModel.afterMove(data.AfterMove());
                viewModel.blockModel.afterAction(data.AfterAction());
                viewModel.blockModel.startDragging(data.StartDragging());
                viewModel.blockModel.afterLazyLoad(data.AfterLazyLoad());
            }
        };
        f.cleanUp = function () {
            delete viewModel.blockModel.mediaFolder;
            delete viewModel.blockModel.controlId;
            delete viewModel.blockModel.slideSpeed;
            delete viewModel.blockModel.paginationSpeed;
            delete viewModel.blockModel.rewindSpeed;
            delete viewModel.blockModel.autoPlay;
            delete viewModel.blockModel.autoPlaySpeed;
            delete viewModel.blockModel.stopOnHover;
            delete viewModel.blockModel.navigation;
            delete viewModel.blockModel.navigationText;
            delete viewModel.blockModel.rewindNav;
            delete viewModel.blockModel.scrollPerPage;
            delete viewModel.blockModel.pagination;
            delete viewModel.blockModel.paginationNumbers;
            delete viewModel.blockModel.responsive;
            delete viewModel.blockModel.responsiveRefreshRate;
            delete viewModel.blockModel.responsiveBaseWidth;
            delete viewModel.blockModel.baseClass;
            delete viewModel.blockModel.theme;
            delete viewModel.blockModel.lazyLoad;
            delete viewModel.blockModel.autoHeight;
            delete viewModel.blockModel.mouseDrag;
            delete viewModel.blockModel.touchDrag;
            delete viewModel.blockModel.items;
            delete viewModel.blockModel.itemsDesktop;
            delete viewModel.blockModel.itemsDesktopSmall;
            delete viewModel.blockModel.itemsTablet;
            delete viewModel.blockModel.itemsTabletSmall;
            delete viewModel.blockModel.itemsMobile;
            delete viewModel.blockModel.itemsCustom;
            delete viewModel.blockModel.singleItem;
            delete viewModel.blockModel.itemsScaleUp;
            delete viewModel.blockModel.jsonPath;
            delete viewModel.blockModel.jsonSuccess;
            delete viewModel.blockModel.lazyFollow;
            delete viewModel.blockModel.lazyEffect;
            delete viewModel.blockModel.dragBeforeAnimFinish;
            delete viewModel.blockModel.addClassActive;
            delete viewModel.blockModel.transitionStyle;
            delete viewModel.blockModel.beforeUpdate;
            delete viewModel.blockModel.afterUpdate;
            delete viewModel.blockModel.beforeInit;
            delete viewModel.blockModel.afterInit;
            delete viewModel.blockModel.beforeMove;
            delete viewModel.blockModel.afterMove;
            delete viewModel.blockModel.afterAction;
            delete viewModel.blockModel.startDragging;
            delete viewModel.blockModel.afterLazyLoad;
        };
        f.onBeforeSave = function () {
            var data = {
                MediaFolder: viewModel.blockModel.mediaFolder(),
                ControlId: viewModel.blockModel.controlId(),
                SlideSpeed: viewModel.blockModel.slideSpeed(),
                PaginationSpeed: viewModel.blockModel.paginationSpeed(),
                RewindSpeed: viewModel.blockModel.rewindSpeed(),
                AutoPlay: viewModel.blockModel.autoPlay(),
                AutoPlaySpeed: viewModel.blockModel.autoPlaySpeed(),
                StopOnHover: viewModel.blockModel.stopOnHover(),
                Navigation: viewModel.blockModel.navigation(),
                NavigationText: viewModel.blockModel.navigationText(),
                RewindNav: viewModel.blockModel.rewindNav(),
                ScrollPerPage: viewModel.blockModel.scrollPerPage(),
                Pagination: viewModel.blockModel.pagination(),
                PaginationNumbers: viewModel.blockModel.paginationNumbers(),
                Responsive: viewModel.blockModel.responsive(),
                ResponsiveRefreshRate: viewModel.blockModel.responsiveRefreshRate(),
                ResponsiveBaseWidth: viewModel.blockModel.responsiveBaseWidth(),
                BaseClass: viewModel.blockModel.baseClass(),
                Theme: viewModel.blockModel.theme(),
                LazyLoad: viewModel.blockModel.lazyLoad(),
                AutoHeight: viewModel.blockModel.autoHeight(),
                MouseDrag: viewModel.blockModel.mouseDrag(),
                TouchDrag: viewModel.blockModel.touchDrag(),
                Items: viewModel.blockModel.items(),
                ItemsDesktop: viewModel.blockModel.itemsDesktop(),
                ItemsDesktopSmall: viewModel.blockModel.itemsDesktopSmall(),
                ItemsTablet: viewModel.blockModel.itemsTablet(),
                ItemsTabletSmall: viewModel.blockModel.itemsTabletSmall(),
                ItemsMobile: viewModel.blockModel.itemsMobile(),
                ItemsCustom: viewModel.blockModel.itemsCustom(),
                SingleItem: viewModel.blockModel.singleItem(),
                ItemsScaleUp: viewModel.blockModel.itemsScaleUp(),
                JsonPath: viewModel.blockModel.jsonPath(),
                JsonSuccess: viewModel.blockModel.jsonSuccess(),
                LazyFollow: viewModel.blockModel.lazyFollow(),
                LazyEffect: viewModel.blockModel.lazyEffect(),
                DragBeforeAnimFinish: viewModel.blockModel.dragBeforeAnimFinish(),
                AddClassActive: viewModel.blockModel.addClassActive(),
                TransitionStyle: viewModel.blockModel.transitionStyle(),
                BeforeUpdate: viewModel.blockModel.beforeUpdate(),
                AfterUpdate: viewModel.blockModel.afterUpdate(),
                BeforeInit: viewModel.blockModel.beforeInit(),
                AfterInit: viewModel.blockModel.afterInit(),
                BeforeMove: viewModel.blockModel.beforeMove(),
                AfterMove: viewModel.blockModel.afterMove(),
                AfterAction: viewModel.blockModel.afterAction(),
                StartDragging: viewModel.blockModel.startDragging(),
                AfterLazyLoad: viewModel.blockModel.afterLazyLoad(),
            };
            viewModel.blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>
