@using Kore.Infrastructure
@using Kore.Plugins.Widgets.FlexSlider.Extensions
@using Kore.Plugins.Widgets.FlexSlider.Widgets
@using Kore.Web.ContentManagement.Areas.Admin.Media.Services

@model FlexSliderWidget

@{
    Style.IncludePluginStyle("FlexSlider/flexslider.css");
    //Script.IncludeBundle("jquery");
    Script.IncludePluginScript("jquery.flexslider-min.js");

    var mediaService = EngineContext.Current.Resolve<IMediaService>();
    var images = mediaService.GetMediaFiles(Model.MediaFolder);

    string sliderId = "slider-" + Guid.NewGuid();
}

@* Flex Slider does not support rtl and will be blank if you try. Therefore we force ltr here *@
<section class="slider" dir="ltr">
    <div id="@sliderId" class="flexslider effect2">
        <ul class="slides">
            @foreach (var slide in images)
            {
                <li>
                    @Html.Image(null, slide.MediaPath, slide.Name)
                    @*<p class="flex-caption">@slide.Caption</p>*@
                </li>
            }
        </ul>
    </div>
</section>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#@sliderId').flexslider({
                animation: "slide",
                controlNav: @Model.ControlNav.ToString().ToLowerInvariant(),
                animationLoop: @Model.AnimationLoop.ToString().ToLowerInvariant(),
                slideshow: @Model.Slideshow.ToString().ToLowerInvariant(),
                slideshowSpeed: @Model.SlideshowSpeed,
                start: function (slider) {
                    $('body').removeClass('loading');
                },
            });
        });
    </script>
}