@using Kore.Infrastructure
@using Kore.Plugins.Ecommerce.Simple
@using Kore.Plugins.Ecommerce.Simple.Data.Domain
@model IEnumerable<Product>

@{
    if (string.IsNullOrEmpty(SiteSettings.DefaultFrontendLayoutPath))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = SiteSettings.DefaultFrontendLayoutPath;
    }

    Script.IncludeBundle("kore-cms/bootpag");

    var settings = EngineContext.Current.Resolve<StoreSettings>();
    ViewBag.Title = settings.PageTitle;

    string categorySlug = ViewBag.CategorySlug;
    int pageCount = ViewBag.PageCount;
    int pageIndex = ViewBag.PageIndex;

    int index = 1;
    int loopCount = 1;
}

<div class="products-container">
    @foreach (var entry in Model)
    {
        if (loopCount == 1)
        {
            @Html.Raw(@"<div class=""row"">")
        }

        string imageUrl = string.IsNullOrEmpty(entry.MainImageUrl)
            ? "http://placehold.it/280x136&text=Image+Missing"
            : entry.MainImageUrl;

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="thumbnail">
                    <img src="@imageUrl" alt="@entry.Name" />
                    <div class="caption">
                        <h3>@Html.ActionLink(entry.Name, "Product", "Store", new { area = string.Empty, categorySlug = categorySlug, productSlug = entry.Slug }, null)</h3>
                    </div>
                </div>
            </div>

        if (loopCount == 4 || index == (Model.Count()))
        {
            @Html.Raw("</div>")
            loopCount = 1;
            index++;
            continue;
        }

        index++;
        loopCount++;
    }
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pager"></div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $('#pager').bootpag({
            total: @pageCount,
            page: @pageIndex,
            maxVisible: 5,
            leaps: true,
            firstLastUse: true,
        }).on("page", function (event, num) {
            window.location.href = '@Url.Action("Categories", "Store", new { area = string.Empty })' + '?pageIndex=' + num;
        });
    </script>
}