@using Kore.Infrastructure
@using Kore.Plugins.Ecommerce.Simple
@using Kore.Plugins.Ecommerce.Simple.Data.Domain
@using Kore.Web.ContentManagement
@using StoreConstants = Kore.Plugins.Ecommerce.Simple.Constants

@model Product

@{
    Layout = KoreWebConstants.DefaultFrontendLayoutPath;

    var settings = EngineContext.Current.Resolve<StoreSettings>();
    ViewBag.Title = settings.PageTitle;
}

<article class="product-details">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <img src="@Model.MainImageUrl" alt="@Model.Name" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
            <h1>@Model.Name</h1>
            <p>Price @settings.Currency @Model.Price.ToString("N2")</p>
            <p>Tax: @settings.Currency @Model.Tax.ToString("N2")</p>
            <p>Shipping: @settings.Currency @Model.ShippingCost.ToString("N2")</p>
            
            @using (Html.BeginForm("BuyNow", "PayPal", new { area = StoreConstants.RouteArea }))
            {
                @Html.Hidden("ProductId", Model.Id)
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buy Now</button>
                </div>
            }
            @*<script data-env="sandbox"
                    data-callback="callback"
                    data-tax="@Model.Tax"
                    data-shipping="@Model.ShippingCost"
                    data-currency="USD"
                    data-amount="@Model.Price"
                    data-quantity="1"
                    data-name="@Model.Name"
                    data-button="cart" src="https://www.paypalobjects.com/js/external/paypal-button-minicart.min.js?merchant=ffff" async="async"></script>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @Html.Raw(Model.FullDescription)
        </div>
    </div>
</article>