<div id="change-password-form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form id="change-password-form-section-form" role="form">
            <fieldset>
                <legend>@T(KoreCmsLocalizableStrings.Membership.ChangePassword)</legend>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label">@T(KoreCmsLocalizableStrings.Membership.ChangePasswordModel.UserName)</label>
                        <input type="text" class="form-control" readonly="readonly" data-bind="value: changePasswordModel.userName" />
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.Label("Change_Password", T(KoreCmsLocalizableStrings.Membership.ChangePasswordModel.Password), new { @class = "control-label" })
                        @Html.Password("Change_Password", null, new { @class = "form-control", data_bind = "value: changePasswordModel.password" })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.Label("Change_ConfirmPassword", T(KoreCmsLocalizableStrings.Membership.ChangePasswordModel.ConfirmPassword), new { @class = "control-label" })
                        @Html.Password("Change_ConfirmPassword", null, new { @class = "form-control", data_bind = "value: changePasswordModel.confirmPassword" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: changePasswordModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: changePasswordModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>