<div id="users-edit-form-section" class="row" style="display:none">
    <article class="col-sm-12 col-md-12">
        <form id="users-edit-form-section-form" role="form">
            <fieldset>
                <legend>Edit</legend>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("UserName", T(KoreCmsLocalizableStrings.Membership.UserModel.UserName), new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="kore-icon kore-icon-user"></i>
                            </span>
                            @Html.TextBox("UserName", null, new { @class = "form-control", data_bind = "value: userModel.userName" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.Label("Email", T(KoreCmsLocalizableStrings.Membership.UserModel.Email), new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="kore-icon kore-icon-mail"></i>
                            </span>
                            @Html.TextBox("Email", null, new { @class = "form-control", data_bind = "value: userModel.email" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("IsLockedOut", new { data_bind = "checked: userModel.isLockedOut" }) @T(KoreCmsLocalizableStrings.Membership.UserModel.IsLockedOut)
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: userModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: userModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>