@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@T(KoreCmsLocalizableStrings.Media.FileBrowserTitle)</title>
    <link rel="stylesheet" type="text/css" href="@Style.GetBundleUrl("admin-base-css")" />
    <link rel="stylesheet" type="text/css" href="@Style.GetBundleUrl("kore-icons")" />
    <link rel="stylesheet" type="text/css" href="@Style.GetBundleUrl("jquery-ui")" />
    <link rel="stylesheet" type="text/css" href="@Style.GetBundleUrl("elfinder")" />

    <style type="text/css">
        .elfinder .elfinder-button {
            cursor: pointer;
        }
            .elfinder .elfinder-button.ui-state-disabled .kore-icon {
                opacity: 0.4;
            }
        .ui-widget-header {
            height: auto;
        }
        .ui-widget-overlay {
            z-index: auto !important;
        }
        /*.fa-sub {
            position: relative;
            left: 0.5em;
            width: 1em;
            top: -0.38em;
        }*/
    </style>
</head>
<body>
    <div id="elfinder"></div>

    <script type="text/javascript" src="@Script.GetBundleUrl("jquery")"></script>
    <script type="text/javascript" src="@Script.GetBundleUrl("jquery-ui")"></script>
    <script type="text/javascript" src="@Script.GetBundleUrl("elfinder")"></script>

    <script type="text/javascript">

        var FileBrowserDialogue = {
            init: function () {
                // Here goes your code for setting your custom things onLoad.
            },
            mySubmit: function (URL) {
                // pass selected file path to TinyMCE
                parent.tinymce.activeEditor.windowManager.getParams().setUrl(URL);

                // close popup window
                parent.tinymce.activeEditor.windowManager.close();
            }
        }

        $(function () {
            var myCommands = elFinder.prototype._options.commands;
            var disabled = ['extract', 'archive', 'help', 'select'];
            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });
            var selectedFile = null;
            var options = {
                url: '@Url.Action("Connector", "Media", new { area = CmsConstants.Areas.Media })',
                commands: myCommands,
                lang: 'en',
                uiOptions: {
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit', 'resize'],
                        ['view', 'sort']
                    ]
                },
                getFileCallback: function (file) { // editor callback
                    // file.url - commandsOptions.getfile.onlyURL = false (default)
                    // file     - commandsOptions.getfile.onlyURL = true
                    FileBrowserDialogue.mySubmit(file.url); // pass selected file path to TinyMCE
                }
            };
            $('#elfinder').elfinder(options).elfinder('instance');
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".elfinder-button-icon.elfinder-button-icon-back").removeClass().addClass("kore-icon kore-icon-arrow-left");
            $(".elfinder-button-icon.elfinder-button-icon-forward").removeClass().addClass("kore-icon kore-icon-arrow-right");
            $(".elfinder-button-icon.elfinder-button-icon-reload").removeClass().addClass("kore-icon kore-icon-refresh");
            $(".elfinder-button-icon.elfinder-button-icon-home").removeClass().addClass("kore-icon kore-icon-home");
            $(".elfinder-button-icon.elfinder-button-icon-up").removeClass().addClass("kore-icon kore-icon-level-up");
            $(".elfinder-button-icon.elfinder-button-icon-mkfile").removeClass().addClass("kore-icon kore-icon-file");
            $(".elfinder-button-icon.elfinder-button-icon-upload").removeClass().addClass("kore-icon kore-icon-upload");
            $(".elfinder-button-icon.elfinder-button-icon-open").removeClass().addClass("kore-icon kore-icon-folder-open");
            $(".elfinder-button-icon.elfinder-button-icon-download").removeClass().addClass("kore-icon kore-icon-save");
            $(".elfinder-button-icon.elfinder-button-icon-info").removeClass().addClass("kore-icon kore-icon-info");
            $(".elfinder-button-icon.elfinder-button-icon-quicklook").removeClass().addClass("kore-icon kore-icon-search");
            $(".elfinder-button-icon.elfinder-button-icon-copy").removeClass().addClass("kore-icon kore-icon-copy");
            $(".elfinder-button-icon.elfinder-button-icon-cut").removeClass().addClass("kore-icon kore-icon-cut");
            $(".elfinder-button-icon.elfinder-button-icon-paste").removeClass().addClass("kore-icon kore-icon-cut");
            $(".elfinder-button-icon.elfinder-button-icon-rm").removeClass().addClass("kore-icon kore-icon-trash");
            $(".elfinder-button-icon.elfinder-button-icon-duplicate").removeClass().addClass("kore-icon kore-icon-duplicate");
            $(".elfinder-button-icon.elfinder-button-icon-edit").removeClass().addClass("kore-icon kore-icon-edit");
            $(".elfinder-button-icon.elfinder-button-icon-resize").removeClass().addClass("kore-icon kore-icon-resize");
            $(".elfinder-button-icon.elfinder-button-icon-view").removeClass().addClass("kore-icon kore-icon-th-list");
            $(".elfinder-button-icon.elfinder-button-icon-view.elfinder-button-icon-view-list").removeClass().addClass("kore-icon kore-icon-list");
            $(".elfinder-button-icon.elfinder-button-icon-sort").removeClass().addClass("kore-icon kore-icon-sort-alpha-asc");

            $(".elfinder-button-icon.elfinder-button-icon-mkdir")
                .removeClass()
                .addClass("kore-icon kore-icon-stack-1x kore-icon-folder-open")
                .parent().addClass("kore-icon-stack")
                .append('<span class="kore-icon kore-icon-stack-1x kore-icon-sub kore-icon-add text-primary"></span>');
        });
    </script>

</body>
</html>