@using Kore.Plugins.Ecommerce.Simple
@using Kore.Plugins.Ecommerce.Simple.Extensions;

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var gridPageSize = @SiteSettings.DefaultGridPageSize;
        var translations = {
            View: '@T(KoreWebLocalizableStrings.General.View).Text',

            Columns: {
                Id: '@T(LocalizableStrings.OrderModel.Id).Text',
                OrderDateUtc: '@T(LocalizableStrings.OrderModel.OrderDateUtc).Text',
                OrderTotal: '@T(LocalizableStrings.OrderModel.OrderTotal).Text',
                PaymentStatus: '@T(LocalizableStrings.OrderModel.PaymentStatus).Text',
                Status: '@T(LocalizableStrings.OrderModel.Status).Text',
            }
        }
    </script>
}