@using Kore.Localization.Domain
@using Kore.Web.ContentManagement

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;
    
    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("kore-cms/localizable-strings");

    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a onclick="exportFile();" class="btn btn-success">
            <i class="kore-icon kore-icon-export"></i>
            @T(KoreWebLocalizableStrings.General.Export)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="@rtlClass">
            <div id="Grid"></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    var gridPageSize = @SiteSettings.DefaultGridPageSize;
    var cultureCode = '@ViewBag.CultureCode';

        if (cultureCode == "") {
            cultureCode = null;
        }

        var translations = {
            Columns:{
                InvariantValue: '@T(KoreCmsLocalizableStrings.Localization.LocalizableStringModel.InvariantValue).Text',
                Key: '@T(KoreCmsLocalizableStrings.Localization.LocalizableStringModel.Key).Text',
                LocalizedValue: '@T(KoreCmsLocalizableStrings.Localization.LocalizableStringModel.LocalizedValue).Text',
            }
        }
</script>
}