<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "Admin" })" title="Go to Home"><i class="kore-icon kore-icon-home"></i> @T("Home")</a><span class="divider"></span></li>

    @foreach (var item in WorkContext.Breadcrumbs)
    {
        if (!string.IsNullOrEmpty(item.Url))
        {
            <li><a href="@item.Url"><i class="@item.Icon"></i>@item.Text</a><span class="divider"></span></li>
        }
        else
        {
            <li><i class="@item.Icon"></i>@item.Text<span class="divider"></span></li>
        }
    }
</ul>

