@using MenuItem = Kore.Web.Navigation.MenuItem

@helper DisplayMenuItems(MenuItem menuItem)
{
    <li class="@(menuItem.Items.Any() ? "dropdown" : "") @(menuItem.Selected ? "active" : "")">
        @if (menuItem.Items.Any())
        {
            <a href="@menuItem.Href" style="cursor: pointer;" data-toggle="dropdown">
                @if (!string.IsNullOrEmpty(menuItem.IconCssClass))
                {
                    <i class="@menuItem.IconCssClass"></i>
                }
                <span>@menuItem.Text</span>
            </a>
            <ul class="dropdown-menu">
                @foreach (var childMenuItem in menuItem.Items)
                {
                    @DisplayMenuItems(childMenuItem)
                }
            </ul>
        }
        else
        {
            if (!string.IsNullOrEmpty(menuItem.Href))
            {
                <a href="@menuItem.Href" style="cursor: pointer;">
                    @if (!string.IsNullOrEmpty(menuItem.IconCssClass))
                    {
                        <i class="@menuItem.IconCssClass"></i>
                    }
                    <span>@menuItem.Text</span>
                </a>
            }
        }
    </li>
}

<ul class="nav navbar-nav" id="primary-nav">
    @foreach (var menuItem in MenuItems)
    {
        @DisplayMenuItems(menuItem)
    }
</ul>