@using Kore
@using Kore.Infrastructure
@using Kore.Web
@using Kore.Web.ContentManagement.Areas.Admin.Media.Services

@model Kore.Plugins.Widgets.Bootstrap3.ContentBlocks.Bootstrap3CarouselBlock

@{
    Style.IncludeBundle("bootstrap");
    Script.IncludeBundle("bootstrap");

    var mediaService = EngineContext.Current.Resolve<IMediaService>();
    var images = mediaService.GetMediaFiles(Model.MediaFolder);

    string carouselName = Model.Title.ToSlugUrl();
}

<div id="@carouselName" class="carousel slide" data-ride="carousel" data-slide-to="@Model.StartIndex">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < images.Count(); i++)
        {
            if (i == 0)
            {
                <li data-target="#@carouselName" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#@carouselName" data-slide-to="@i"></li>
            }
        }
    </ol>

    <div class="carousel-inner" role="listbox">
        @{
            bool isFirst = true;
        }
        @foreach (var image in images)
        {
            if (!image.Name.EndsWithAny(".jpg", ".jpeg", ".gif", ".png", ".tif", ".tiff", ".bmp"))
            {
                continue;
            }

            if (isFirst)
            {
                <div class="item active">
                    <img src="@image.MediaPath" alt="@image.Name" />
                </div>
                isFirst = false;
            }
            else
            {
                <div class="item">
                    <img src="@image.MediaPath" alt="@image.Name" />
                </div>
            }
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#@carouselName" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#@carouselName" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        var carouselName = '@carouselName';
        var interval = @Model.Interval;
        var pause = "hover";
        var wrap = @Model.Wrap.ToString().ToLowerInvariant();
        var keyboard = @Model.Keyboard.ToString().ToLowerInvariant();

        @{
            if (!Model.PauseOnHover)
            {
                @:pause = false;
            }
        }

        $(document).ready(function () {
            $('#' + carouselName).carousel({
                interval: interval,
                pause: pause,
                wrap: wrap,
                keyboard: keyboard
            });
            $('#' + carouselName).on('slide.bs.carousel', function () {
                @Html.Raw(Model.OnSlideEvent)
            });
            $('#' + carouselName).on('slid.bs.carousel', function () {
                @Html.Raw(Model.OnSlidEvent)
            });
        });
    </script>
}